{% extends "index.html" %}


{% block content %}


{% load tz %}


<link href="{{ MY_STATIC_URL }}inventory/devices.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ MY_STATIC_URL }}inventory/devices.js"></script>



<div class="container">

    {% include "menu.html" %}

</div>



<div class="row col-md-8 col-md-offset-1 small">
    <table id="table-info" class="table-bordered">
        <tbody>
            <tr>
                <td>Модель</td>
                <td></td>
            </tr>
            <tr>
                <td>Адрес</td>
                <td></td>
            </tr>
            <tr>
                <td>Статус</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>







<div class="row col-md-8 col-md-offset-1 small">
    <ul class="nav nav-tabs">
      <li id="nav-ports" role="presentation" class="active"><a href="#">Порты</a></li>
      <li id="nav-slots" role="presentation"><a href="#">Слоты</a></li>
      <li id="nav-combo" role="presentation"><a href="#">Комбо</a></li>
      <li id="nav-statuses" role="presentation"><a href="#">Статусы</a></li>
      <li id="nav-removal" role="presentation"><a href="#">Перемещение</a></li>
      <li id="nav-parents" role="presentation"><a href="#">Установлен в</a></li>
      <li id="nav-properties" role="presentation"><a href="#">Свойства</a></li>
    </ul>
</div>




{% include "inventory/ports.html" %}
{% include "inventory/slots.html" %}
{% include "inventory/statuses.html" %}
{% include "inventory/combo.html" %}
{% include "inventory/removal.html" %}
{% include "inventory/parents.html" %}
{% include "inventory/prop_device.html" %}


{% endblock %}