{% extends "index.html" %}


{% block content %}


{% load tz %}


<link href="{{ MY_STATIC_URL }}inventory/netelements.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ MY_STATIC_URL }}inventory/netelementdata.js"></script>



<div class="container">

    {% include "menu.html" %}

</div>



<div id="rowelem" class="row col-md-5 col-md-offset-1 small">
        <label for="elem">Сетевой элемент</label>
        <input type="text" id="elem" placeholder="">
        <button id="saveelem" title="Сохранить" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>
</div>




<div id="devices" class="row small">
    <div class="col-md-6">
        <table group="devices" class="table table-responsive table-bordered">
            <caption>&nbsp;&nbsp;&nbsp;
                <label for="searchdevice">Поиск устройства</label>
                <input type="text" id="searchdevice" placeholder="">
                <button id="adddevice" title="Добавить устройство" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                <button id="clear" title="Очистить" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </caption>
            <thead>
            <tr>
                <th>Название</th>
                <th>Серийный номер</th>
                <th>Адрес</th>
                <th></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>




<div id="elemdata" class="row small">
    <div class="col-md-8">
        <table group="interfaces" class="table table-responsive table-bordered">
            <caption>Логические интерфейсы
                <button id="addinterface" title="Добавить интерфейс" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </caption>
            <thead>
            <tr>
                <th>Логический интерфейс</th>
                <th>Коментарий</th>
                <th>Устройство</th>
                <th>Порт</th>
                <th>Параметр</th>
                <th>Значение</th>
                <th>Коментарий</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>




{% include "inventory/logicalinterface.html" %}
{% include "inventory/interfacepropform.html" %}


{% endblock %}