<div id="logicalinterface" title="" hidden>
    <form id="logicalinterfaceform">
        <table class="small col-md-12">
            <tbody>
                <tr>
                    <td><label for="nameinterface">Название</label></td>
                    <td><input type="text" class="form-control" id="nameinterface" name="nameinterface" placeholder="" /></td>
                </tr>
                <tr>
                    <td><label for="commentinterface">Коментарий</label></td>
                    <td><input type="text" class="form-control" id="commentinterface" name="commentinterface" placeholder="" /></td>
                </tr>
                <tr>
                    <td><label>Порты</label></td>
                    <td>
                        <table group="devices-ports" class="table table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th>Устройство</th>
                                    <th>Статус</th>
                                    <th>Порт ном.</th>
                                    <th>Порт</th>
                                    <th>Статус</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
