<div id="page-parents" class="row col-md-8 col-md-offset-1" hidden>


    <table group="device-parents" class="table-bordered small">
        <caption>Является компонентом устройства:</caption>
        <thead>
            <tr>
                <th>Серийный номер</th>
                <th>Модель</th>
                <th>Адрес</th>
                <th>Статус</th>
                <th>Владелец</th>
                <th>Дата</th>
                <th>Пользователь</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>



    <table group="device-children" class="table-bordered small">
        <caption>Содержит компоненты:</caption>
        <thead>
            <tr>
                <th>Серийный номер</th>
                <th>Модель</th>
                <th>Адрес</th>
                <th>Статус</th>
                <th>Владелец</th>
                <th>Дата</th>
                <th>Пользователь</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>


</div>