<div id="editscheme2" title="" hidden>
    <form id="editschemeform2">
        <table>
            <tbody>
                <tr class="small">
                    <td><label for="namescheme">Название</label></td>
                    <td><input type="text" class="form-control" id="namescheme" name="namescheme" placeholder="" /></td>
                </tr>
                <tr class="small">
                    <td><label for="jsonscheme">Схема</label></td>
                    <td><textarea class="form-control input-sm" rows="14" id="jsonscheme" name="jsonscheme"></textarea></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
