<div id="editscheme" title="" hidden>
    <form id="editschemeform">
        <table>
            <tbody>
                <tr class="small">
                    <td><label for="namescheme">Название</label></td>
                    <td><input type="text" class="form-control" id="namescheme" name="namescheme" placeholder="" /></td>
                </tr>
                <tr class="small">
                    <td><label for="jsonscheme">Схема</label></td>
                    <td><input type="text" class="form-control" id="jsonscheme" name="jsonscheme" placeholder="" /></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

