<div id="page-slots" class="row col-md-8 col-md-offset-1" hidden>

    <table group="slots" class="table-bordered small">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Тип</th>
                <th>Статус</th>
                <th>Дата</th>
                <th>Коментарий</th>
                <th>Пользователь</th>
                <th><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>