{% extends "index.html" %}


{% block content %}


{% load tz %}


<link href="{{ MY_STATIC_URL }}exams/questions_list.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ MY_STATIC_URL }}exams/questions_list.js"></script>



<div class="container">

    {% include "menu.html" %}

</div>


<div class="row">
    <div id="manager" class="row small col-md-8" section="{{ section }}">
        <form class="form-inline col-sm-offset-1">
            <label for="select-section">Раздел</label>
            <select id="select-section" class="form-control input-sm" data-width="auto">
                    <option value="0"></option>
                    {% for item in sections %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
            </select>
            <a id="addq" href="/exams/questions/add/" title="Создать новый вопрос" hidden>Создать</a>
        </form>
    </div>
</div>






<div class="row">

    <div class="row col-md-3" group="paginator">
        {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/exams/questions/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        {% endif %}
        <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="/exams/questions/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        {% endif %}
        {% endif %}
    </div>


    <center>
        <h3>Список вопросов раздела</h3>
        <table group="questions-list" class="table table-bordered table-striped draggable">


            <thead class="small">

                <tr style="background-color:gainsboro;">
                    <th width="5%">№пп</th>
                    <th width="10%">Раздел</th>
                    <th width="70%">Вопрос</th>
                    <th width="5%">Ответов</th>
                    <th width="5%">Правильных</th>
                    <th width="5%">Удаление</th>
                </tr>

            </thead>

            <tbody>
            {% for row in object_list %}


                    <tr class="small" row_id="{{ row.id }}">
                        <td><a href="/exams/questions/update/{{ row.id }}/{{ page }}/">{{ row.order }}</a></td>
                        <td><a href="/exams/questions/update/{{ row.id }}/{{ page }}/">{{ row.section }}</a></td>
                        <td><a href="/exams/questions/update/{{ row.id }}/{{ page }}/">{{ row.name }}</a></td>
                        <td><a href="/exams/questions/update/{{ row.id }}/{{ page }}/">{{ row.answers_set.count }}</a></td>
                        <td><a href="/exams/questions/update/{{ row.id }}/{{ page }}/">{{ row.truth }}</a></td>
                        <td><a remove title="Удалить вопрос" question="{{ row.name }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>

                    </tr>

            {% endfor %}

            </tbody>





        </table>
    </center>

    <div class="row col-md-3" group="paginator">
        {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/exams/questions/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        {% endif %}
        <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="/exams/questions/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        {% endif %}
        {% endif %}
    </div>


</div>


{% endblock %}

