<div id="avr" hidden>

    <div class="row col-sm-4">

        <dl class="dl-horizontal small">
            <dt>{{ form.region.label }}</dt>
            <dd>{{ form.region }}</dd>
            <dt>{{ form.city.label }}</dt>
            <dd>{{ form.city }}</dd>
            <dt>{{ form.address.label }}</dt>
            <dd>{{ form.address }}</dd>
            <dt>{{ form.objnet.label }}</dt>
            <dd>{{ form.objnet }}</dd>
            <dt>{{ form.area.label }}</dt>
            <dd>{{ form.area }}</dd>
            <dt>{{ form.complex.label }}</dt>
            <dd>{{ form.complex }}</dd>
            <dt>{{ form.datetime_avr.label }}</dt>
            <dd>{{ form.datetime_avr }}</dd>
            <dt>{{ form.datetime_work.label }}</dt>
            <dd>{{ form.datetime_work }}</dd>
            <dt>{{ form.staff.label }}</dt>
            <dd>{{ form.staff }}</dd>
            <dt>{{ form.commission.label }}</dt>
            <dd>{{ form.commission }}</dd>
        </dl>

    </div>

</div>