<div id="gsm" hidden>

    <div class="row col-sm-12">

        <dl class="dl-horizontal small">
            <dt>{{ formgsm.consumer.label }}</dt>
            <dd>{{ formgsm.consumer }}</dd>
            <dt>{{ formgsm.km.label }}</dt>
            <dd>{{ formgsm.km }}</dd>
            <dt>{{ formgsm.h.label }}</dt>
            <dd>{{ formgsm.h }}</dd>
            <dt>{{ formgsm.petrol.label }}</dt>
            <dd>{{ formgsm.petrol }}</dd>
            <dt>{{ formgsm.kg.label }}</dt>
            <dd>{{ formgsm.kg }}</dd>
            <dt>{{ formgsm.comment.label }}</dt>
            <dd>{{ formgsm.comment }}</dd>
        </dl>

    </div>

</div>