<div id="worker" hidden>

    <div class="row col-sm-12">

        <dl class="dl-horizontal small">
            <dt>{{ formworker.staff.label }}</dt>
            <dd>{{ formworker.staff }}</dd>
            <dt>{{ formworker.h.label }}</dt>
            <dd>{{ formworker.h }}</dd>
            <dt>{{ formworker.h_day.label }}</dt>
            <dd>{{ formworker.h_day }}</dd>
            <dt>{{ formworker.h_night.label }}</dt>
            <dd>{{ formworker.h_night }}</dd>
            <dt>{{ formworker.comment.label }}</dt>
            <dd>{{ formworker.comment }}</dd>
        </dl>

    </div>

</div>