.class100 {
    width: 100%;
}


button {
    margin-left: 20px;
}


h3 {
    margin-bottom: 30px;
}


/* оформление таблиц */
table[group=staff-list] > thead > tr > th,
table[group=gsm-list] > thead > tr > th,
table[group=upload-list] > thead > tr > th,
table[group=stuff-list] > thead > tr > th,
table[group=comment-list] > thead > tr > th,
table[group=status-list] > thead > tr > th,
table[group=file-list] > thead > tr > th,
table[group=log-list] > thead > tr > th {
    background-color:#DCDCDC;
    padding: 0;
    text-align: left;
    vertical-align: top;
}


table[group=staff-list] > tbody > tr > td,
table[group=gsm-list] > tbody > tr > td,
table[group=upload-list] > tbody > tr > td,
table[group=stuff-list] > tbody > tr > td,
table[group=file-list] > tbody > tr > td,
table[group=status-list] > tbody > tr > td,
table[group=comment-list] > tbody > tr > td,
table[group=log-list] > tbody > tr > td {
    padding: 0;
    vertical-align: top;
}


#page-1 > div:nth-child(1),
#page-2 > div:nth-child(1),
#page-3 > div:nth-child(1),
#page-4 > div:nth-child(1),
#page-5 > div:nth-child(1),
#page-6 > div:nth-child(1),
#page-7 > div:nth-child(1) {
	padding-top: 10px;
}

/* Закладка Комментарии */
button#addcomment {
    margin-bottom: 20px;
}


/* Закладка Документы */
form#uploadfilehdfs {
    margin-bottom: 20px;
}


/* Закладка статус */
#page-2 table {
    margin-top: 20px;
}

/* закладка Материалы */
#page-1 table {
    margin-top: 20px;
}

/* Длинна поля ввода количества */
.class10 {
   width: 50px;
}


/* Закладка ГСМ */
#page-5 table {
    margin-top: 20px;
}


/* Закладка Трудозатраты */
#page-6 table {
    margin-top: 20px;
}



/* Курсор */
table[group=staff-list] > tbody > tr > td > a,
table[group=gsm-list] > tbody > tr > td > a,
table[group=file-list] > tbody > tr > td > a,
table[group=stuff-list] > tbody > tr > td > a {
    cursor:pointer;
    text-decoration:none;
}


table[group=staff-list] > tbody > tr > td > a:hover,
table[group=gsm-list] > tbody > tr > td > a:hover,
table[group=file-list] > tbody > tr > td > a:hover,
table[group=stuff-list] > tbody > tr > td > a:hover {
    text-decoration:none;
}


/* Форма добавления записи ГСМ */
#gsm input {
    width: 100%;
}


/* Форма добавления записи трудозатрат */
#worker input {
    width: 100%;
}


/* Поля корректировки цены */
#page-1 table[group=stuff-list] td input {
    width:80px;
    background-color: #00FFFF;
    border: none;
}


/* Поля корректировки нормы и суммы ГСМ */
#page-5 table[group=gsm-list] td input {
    width:80px;
    background-color: #00FFFF;
    border: none;
}


/* Поля корректировки трудозатрат */
#page-6 table[group=staff-list] td input {
    width:80px;
    background-color: #00FFFF;
    border: none;
}
