table[group=proj-list] > thead > tr > th,
table[group=stages-list] > thead > tr > th {
    background-color:#DCDCDC;
    padding: 0;
    text-align: left;
    vertical-align: top;
}


.row {
    margin: 0;
}


table[group=proj-list] > tbody > tr > td,
table[group=stages-list] > tbody > tr > td {
    padding: 0;
    vertical-align: top;
}




/* Курсор */
table[group=proj-list] > tbody > tr > td > a, #toexcel, #addproj,
table[group=stages-list] > tbody > tr > td > a,
table[group=stages-list] tbody tr.small td div a {
    cursor:pointer;
    text-decoration:none;
}


table[group=proj-list] > tbody > tr > td > a:hover, #toexcel, #addproj,
table[group=stages-list] > tbody > tr > td > a:hover,
table[group=stages-list] tbody tr.small td div a:hover {
    text-decoration:none;
}




/* Отступить от меню */
#manager {
    margin-top:30px;
    margin-bottom:30px;
}

#addproj, #toexcel {
    margin-left: 30px;
}




/* Для формы создания проекта */
form#add-proj > table.small > tbody > tr > td > input#id_name,
form#add-proj > table.small > tbody > tr > td > select#id_temp  {
    width: 450px;
}



table[group=stages-list] > tbody > tr > td > input[type="checkbox"] {
    margin:0;
    madding:0;
}


/* Форма редактирования названия и времени начала проекта */
form#projedit table tbody tr td input#id_name {
    width: 400px;
}

form#projedit {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
}


/* Форма редактирования этапа */
form#edit-stage table.small tbody tr td input {
    width: 200px;
}


/* Форма редактирования шага */
form#edit-step table.small tbody tr td input {
    width: 200px;
}


/* Выбор пользователя для добавления */
select[user] {
    width: 200px;
}



div#group[user-list],
table tbody tr td div select {
    padding: 0;
    margin: 0;
}

