table[group=reestr-list] > thead > tr > th {
    background-color:#DCDCDC;
    padding: 0;
    text-align: left;
    vertical-align: top;
}


.row {
    margin: 0;
}


table[group=reestr-list] > tbody > tr > td {
    padding: 0;
}




/* Курсор */
table[group=reestr-list] > tbody > tr > td > a, #toexcel, #addrow {
    cursor:pointer;
    text-decoration:none;
}


table[group=reestr-list] > tbody > tr > td > a:hover, #toexcel, #addrow {
    text-decoration:none;
}




/* Отступить от меню */
#manager {
    margin-top:30px;
    margin-bottom:30px;
}

#addrow, #toexcel {
    margin-left: 30px;
}

#select-region, #select-city {
    margin-right: 30px;
}


/* Форма редактирования реестра */
form#edit-reestr > table > tbody > tr > th {
    vertical-align: top;
}

form#edit-reestr {
    padding-left: 40px;
    padding-top: 40px;
}

form#edit-reestr > table > tbody > tr > td > input,
form#edit-reestr > table > tbody > tr > td > textarea,
form#edit-reestr > table > tbody > tr > td > select {
    width: 500px;
}

form#edit-reestr > table > tbody > tr > td > textarea {
    height: 40px;
}