{% extends "index.html" %}


{% block content %}


{% load tz %}


<script type="text/javascript" src="{{ MY_STATIC_URL }}working/makereports.js"></script>
<link href="{{ MY_STATIC_URL }}working/makereports.css" type="text/css" rel="stylesheet">



<div class="container">

    {% include "menu.html" %}


    <div class="row">
        <h4>Подготовка отчетов</h4>
    </div>ПG


    <div class="row">
        <dl  class="dl-horizontal">
        <div class="form-inline">
            <div id="manager" class="form-group">
                <dt>
                <label for="create-text">Название отчета</label>
                </dt>
                <dd>
                <input id="create-text" class="form-control input-sm" value="{{ search_text }}" width="100%" type="text" />
                <button id="create-button" title="Создать отчет" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-saved"></span></button>
                <button id="clear-button" title="Очистить" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                </dd>
            </div>
        </div>
        <div class="form-inline">
            <div id="manager2" class="form-group">
                <dt>
                <label for="employee">Фильтр по сотруднику</label>
                </dt>
                <dd>
                <select id="employee" class="form-control input-sm">
                    {% if worker|slugify == ""|slugify %}
                        <option value="" selected>Все</option>
                    {% else %}
                        <option value="">Все</option>
                    {% endif %}
                    {% for u in users %}
                    {% if worker|slugify == u.user.id|slugify %}
                    <option value="{{ u.user.id }}" selected>{{ u.user.get_full_name }}</option>
                    {% else %}
                    <option value="{{ u.user.id }}">{{ u.user.get_full_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>

                <button id="employee-search" title="Искать" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-search"></span></button>
                </dd>
            </div>
        </div>
        </dl>
    </div>


</div>



<div class="row">


    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/working/makereports/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        {% endif %}
        <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="/working/makereports/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        {% endif %}
    {% endif %}




    <table group="makereports-list" class="table table-bordered table-striped draggable" width="100%">


        <thead class="small">

            <tr style="background-color:gainsboro;">
                <th style="border: solid 1px gray;padding-left: 2px;">Статус</th>
                <th style="border: solid 1px gray;padding-left: 2px;">Начало</th>
                <th style="border: solid 1px gray;padding-left: 2px;">Окончание</th>
                <th style="border: solid 1px gray;padding-left: 2px;">Длительность<br>(час.)</th>
                <th style="border: solid 1px gray;padding-left: 2px;">Перерывы<br>длительность<br>(мин.)</th>
                <th width="5%" style="border: solid 1px gray;padding-left: 2px;">Событий</th>
                <th style="border: solid 1px gray;padding-left: 2px;">Сотрудник</th>
                <th width="25%" style="border: solid 1px gray;padding-left: 2px;">Перерывы (список)</th>
                <th width="5%" style="border: solid 1px gray;padding-left: 2px;">Включить<br>в отчет</th>
            </tr>

        </thead>

        <tbody class="small">
            {% for row in object_list %}
                    <tr row_id={{ row.id }}>
                        <td {% if row.current %}style="border: solid 1px gray;padding-left: 2px; background-color: #7CFC00;"{% else %}style="border: solid 1px gray;padding-left: 2px; background-color: #D8BFD8;"{% endif %}>
                            {% if row.current %}
                                <a href="/working/events/{{ row.id }}/" target="_blank">Открыто</a>
                            {% else %}
                                <a href="/working/events/{{ row.id }}/" target="_blank">Завершено</a>
                            {% endif %}
                        </td>
                        {% timezone tz %}
                        <td {% if row.current %}style="border: solid 1px gray;padding-left: 2px; background-color: #7CFC00;"{% else %}style="border: solid 1px gray;padding-left: 2px; background-color: #D8BFD8;"{% endif %}><a href="/working/events/{{ row.id }}/" target="_blank">{{ row.datetime_begin|date:"d.m.Y H:i e" }}</a></td>
                        {% if row.current %}
                        <td {% if row.current %}style="border: solid 1px gray;padding-left: 2px; background-color: #7CFC00;"{% else %}style="border: solid 1px gray;padding-left: 2px; background-color: #D8BFD8;"{% endif %}></td>
                        {% else %}
                        <td {% if row.current %}style="border: solid 1px gray;padding-left: 2px; background-color: #7CFC00;"{% else %}style="border: solid 1px gray;padding-left: 2px; background-color: #D8BFD8;"{% endif %}><a href="/working/events/{{ row.id }}/" target="_blank">{{ row.datetime_end|date:"d.m.Y H:i e" }}</a></td>
                        {% endif %}
                        {% endtimezone %}
                        <td {% if row.current %}style="border: solid 1px gray;padding-left: 2px; background-color: #7CFC00;"{% else %}style="border: solid 1px gray;padding-left: 2px; background-color: #D8BFD8;"{% endif %}><a href="/working/events/{{ row.id }}/" target="_blank">{{ row.get_work_hour }}</a></td>
                        <td {% if row.current %}style="border: solid 1px gray;padding-left: 2px; background-color: #7CFC00;"{% else %}style="border: solid 1px gray;padding-left: 2px; background-color: #D8BFD8;"{% endif %}><a href="/working/events/{{ row.id }}/" target="_blank">{{ row.get_relax_min }}</a></td>
                        <td {% if row.current %}style="border: solid 1px gray;padding-left: 2px; background-color: #7CFC00;"{% else %}style="border: solid 1px gray;padding-left: 2px; background-color: #D8BFD8;"{% endif %}><a href="/working/events/{{ row.id }}/" target="_blank">{{ row.working_log_set.count }}</a></td>
                        <td {% if row.current %}style="border: solid 1px gray;padding-left: 2px; background-color: #7CFC00;"{% else %}style="border: solid 1px gray;padding-left: 2px; background-color: #D8BFD8;"{% endif %}><a href="/working/events/{{ row.id }}/" target="_blank">{{ row.user.get_full_name }}</a></td>
                        <td {% if row.current %}style="border: solid 1px gray;padding-left: 2px; background-color: #7CFC00;"{% else %}style="border: solid 1px gray;padding-left: 2px; background-color: #D8BFD8;"{% endif %}>
                            {# <img src="data:image/png;base64,{{ row.get_hist }}"  width="100%" height="100%" /> #}
                            <ol>
                                {% timezone tz %}
                                    {% for r in row.get_relax_list %}
                                        <li>c {{ r.relax_start|date:"d.m.Y H:i e" }} до {{ r.relax_end|date:"d.m.Y H:i e" }} ({{ r.minut }} мин.)</li>
                                    {% endfor %}
                                {% endtimezone %}
                            </ol>
                        </td>
                        <td {% if row.current %}style="border: solid 1px gray;padding-left: 2px; background-color: #7CFC00;"{% else %}style="border: solid 1px gray;padding-left: 2px; background-color: #D8BFD8;"{% endif %} align="center" style="border: solid 1px gray;"><a report title="Включить/выключить в отчет">{% if row.id in include_report %}<span class="glyphicon glyphicon-check"></span>{% else %}<span class="glyphicon glyphicon-unchecked"></span>{% endif %}</a></td>
                    </tr>

            {% endfor %}
        </tbody>




    </table>


    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/working/makereports/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        {% endif %}
        <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="/working/makereports/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        {% endif %}
    {% endif %}



</div>

{% include "working/report_error.html" %}
{% include "working/report_ok.html" %}



{% endblock %}