{% extends "index.html" %}


{% block content %}


{% load tz %}


<script type="text/javascript" src="{{ MY_STATIC_URL }}working/phone.js"></script>
<link href="{{ MY_STATIC_URL }}working/phone.css" type="text/css" rel="stylesheet">



<div class="container">

    {% include "menu.html" %}

</div>


<div class="row">
    <dl id="form" class="dl-horizontal small">
        <dt>Вн. номера:</dt>
        <dd><input class="form-control input-sm" type="text" id="phones" name="phones" /></dd>
        <dt>Фильтр:</dt>
        <dd><input class="form-control input-sm" type="text" id="filter" name="filter" /></dd>
        <dt>С даты:</dt>
        <dd><input class="form-control input-sm" type="text" id="date1" name="data1" /></dd>
        <dt>По дату:</dt>
        <dd><input class="form-control input-sm" type="text" id="date2" name="date2" /></dd>
        <dt></dt>
        <dd></dd>
        <dt></dt>
        <dd><button id="button-get" class="btn btn-info btn-sm" type="button">Сформировать</button></dd>
    </dl>
</div>

<result></result>


{% endblock %}