{% extends "index.html" %}


{% block content %}


{% load tz %}


<script type="text/javascript" src="{{ MY_STATIC_URL }}working/phonehistory1.js"></script>
<link href="{{ MY_STATIC_URL }}working/phonehistory1.css" type="text/css" rel="stylesheet">


<div class="container">

    {% include "menu.html" %}


    <div class="row">
        <h4>История телефонных вызовов группы 1</h4>
    </div>

    <div class="row">
        <dl  class="dl-horizontal">
        <div class="form-inline">
            <div id="manager" class="form-group">

                <dt>
                    <label for="city">Город</label>
                </dt>
                <dd>
                    <select id="city" class="form-control input-sm">
                        <option value="" selected>Все</option>
                        {% for c in cities %}
                            <option value="{{ c }}">{{ c }}</option>
                        {% endfor %}
                    </select>

                    <button id="filter" title="Фильтровать" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-search"></span></button>
                    <button id="clear-filter" title="Очистить" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                </dd>

                <dt>
                    <label for="phone">Телефон</label>
                </dt>
                <dd>
                    <select id="phone" class="form-control input-sm">
                        <option value="" selected>Все</option>
                        {% for p in phones %}
                            <option value="{{ p }}">{{ p }}</option>
                        {% endfor %}
                    </select>
                </dd>


                <dt>
                    <label for="date">Дата</label>
                </dt>
                <dd>
                    <input id="date" class="form-control input-sm" value="" width="100%" type="text" />
                </dd>

            </div>
        </div>
        </dl>
    </div>



</div>


    <table group="phonehistory1" class="table table-bordered table-striped draggable" width="100%">


        <thead class="small">

            <tr style="background-color:gainsboro;" row_id="{{ row.id }}">
                <th style="border: solid 1px gray;padding-left: 2px;">Город</th>
                <th style="border: solid 1px gray;padding-left: 2px;">Дата</th>
                <th style="border: solid 1px gray;padding-left: 2px;">Номер</th>
                <th style="border: solid 1px gray;padding-left: 2px;">Всего вызовов</th>
                <th style="border: solid 1px gray;padding-left: 2px;">Всего входящих</th>
                <th style="border: solid 1px gray;padding-left: 2px;">Всего исходящих</th>
                <th style="border: solid 1px gray;padding-left: 2px;">Входящих принятых</th>
                <th style="border: solid 1px gray;padding-left: 2px;">Исходящих принятых</th>
                <th style="border: solid 1px gray;padding-left: 2px;">Входящих принятых %</th>
                <th style="border: solid 1px gray;padding-left: 2px;">Исходящих принятых %</th>
                <th style="border: solid 1px gray;padding-left: 2px;">Средняя<br>длительность<br>входящих (сек.)</th>
                <th style="border: solid 1px gray;padding-left: 2px;">Средняя<br>длительность<br>исходящих (сек.)</th>
            </tr>

        </thead>

        <tbody class="small">
             {% for index,row in df.iterrows %}
                <tr>
                    <td>{{ row.city }}</td>
                    <td>{{ row.date|date:"d.m.Y" }}</td>
                    <td>{{ row.phone }}</td>
                    <td>{{ row.calls }}</td>
                    <td>{{ row.calls_in }}</td>
                    <td>{{ row.calls_out }}</td>
                    <td>{{ row.calls_in_ok }}</td>
                    <td>{{ row.calls_out_ok }}</td>
                    <td>{{ row.calls_in_per }}</td>
                    <td>{{ row.calls_out_per }}</td>
                    <td>{{ row.talk_in_avg }}</td>
                    <td>{{ row.talk_out_avg }}</td>
                </tr>
             {% endfor %}
        </tbody>




    </table>




{% endblock %}