
/* Курсор */
a#back {
    cursor:pointer;
    text-decoration:none;
}


a#back:hover {
    text-decoration:none;
}


/* Кнопка начать */
div#button-begin {
    padding-top: 30px;
}



/* Ссылка */
div#link-back {
    padding-top: 30px;
}



table[group=answers] > tbody > tr > td {
    vertical-align: top;
    align: left;
}



/* Таблица по центру */
table[group=answers] {
    margin: 0 auth;
    width: 100%;
    padding-bottom:20px;
    padding-left:300px;
    padding-right:300px;
}



#question {
    border: 1px solid green;
    border-radius: 10px;
    display: block;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 3px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #d3f4d3;
}



#question-name {
    color: green;
    font-weight: bold;
}


div[group=test-data], div[group=test-data2], div[group=test-data3] {
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    margin-left: 400px;
    margin-right: 400px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
}



div[group=test-data] {
    background-color: #ccccfb;
}


div[group=test-data2] {
    background-color: bisque;
}



div[group=test-data3] {
    background-color: #fcfcd2;
}



div#fio-job {
    border: 1px solid brown;
    border-radius: 10px;
    display: block;
    margin-left: 400px;
    margin-right: 400px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    margin-top: 3px;
    padding-top:5px;
    background-color: #fbebeb;
}



div#result {
    border: 1px solid brown;
    border-radius: 10px;
    display: block;
    margin-left: 400px;
    margin-right: 400px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
    color: red;
    background-color: #f1c2c24d;
}



/* Ширина полей ввода */
div#fio-job center table tbody tr td input#id_worker,
div#fio-job center table tbody tr td input#id_job {
    width: 400px;
}