table[group=questions-list] > thead > tr > th {
    background-color:#DCDCDC;
    padding: 0;
    text-align: left;
    vertical-align: top;
}


.row {
    margin: 0;
}


table[group=questions-list] > tbody > tr > td {
    padding: 2px;
}




/* Курсор */
table[group=questions-list] > tbody > tr > td > a, #addq {
    cursor:pointer;
    text-decoration:none;
}


table[group=questions-list] > tbody > tr > td > a:hover, #addq {
    text-decoration:none;
}


/* Таблица по центру */
table[group=questions-list] {
    margin: 0 auth;
    width: 70%;
}


/* Отступить */
#manager {
    margin-top:20px;
    margin-bottom:20px;
    padding-left: 300px;
}


#addq {
    padding-left:20px;
}


div[group=paginator] {
    margin-left:0;
    padding-left: 200px;
}