table[group=results-list] > thead > tr > th {
    background-color:#DCDCDC;
    padding: 0;
    text-align: left;
    vertical-align: top;
}


.row {
    margin: 0;
}


table[group=results-list] > tbody > tr > td {
    padding: 2px;
}




/* Курсор */
table[group=results-list] > tbody > tr > td > a, #to_excel, #to_pdf, #to_pdf3 {
    cursor:pointer;
    text-decoration:none;
}


table[group=results-list] > tbody > tr > td > a:hover, #to_excel, #to_pdf, #to_pdf3 {
    text-decoration:none;
}


/* Таблица по центру */
table[group=results-list] {
    margin: 0 auth;
    width: 70%;
}


/* Отступить */
#manager {
    margin-top:20px;
    margin-bottom:20px;
    padding-left: 300px;
}



table[group=results-list] > tbody > tr > td > input[type=checkbox] {
    margin:0;
}


/* Отступ для указателя страниц */
div[group=paginator] {
    margin-left:0;
    padding-left: 200px;
}

/* Отступ для ссылки */
#to_excel {
    margin-left:400px;
    padding-left: 0;
}


/* Отступ */
#to_pdf, #to_pdf3 {
    padding-left: 15px;
}


/* Форма редактирования должности и места работы */
form#resultdata > table > tbody > tr > td > input#id_job,
form#resultdata > table > tbody > tr > td > input#id_department {
    width: 400px;
}