{% extends "index.html" %}


{% block content %}

<link href="{{ MY_STATIC_URL }}regions/reestrproj/reestrprojedit.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ MY_STATIC_URL }}regions/reestrproj/reestrprojedit.js"></script>

{% include "menu.html" %}

<div class="row">

    <div class="row col-md-8 col-md-2-offset">

        <h3>Карточка проекта</h3>

        <form id="reestr-proj-edit" method="POST">{% csrf_token %}

            <table class="small">
            <tbody>

                {{ form.as_table }}


                <tr><td></td><td><button type="button" class="btn btn-default btn-xs">Сохранить</button></td></tr>


            </tbody>
            </table>

        </form>

    </div>




    <div class="row col-md-8 col-md-offset-1 small">
        <ul class="nav nav-tabs">
          <li id="nav-1" role="presentation" class="active"><a href="#">Показатели</a></li>
          <li id="nav-2" role="presentation"><a href="#">Стадии реализации</a></li>
          <li id="nav-3" role="presentation"><a href="#">Материалы</a></li>
          <li id="nav-4" role="presentation"><a href="#">Работы</a></li>
        </ul>
    </div>



</div>



{% include "regions/reestrproj/reestrprojedit1.html" %}
{% include "regions/reestrproj/reestrprojedit2.html" %}
{% include "regions/reestrproj/reestrprojedit3.html" %}
{% include "regions/reestrproj/reestrprojedit4.html" %}


{% endblock %}