{% extends "index.html" %}


{% block content %}


{% load tz %}


<link href="{{ MY_STATIC_URL }}regions/reestrproj/reestrprojlist.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ MY_STATIC_URL }}regions/reestrproj/reestrprojlist.js"></script>



<div class="container">

    {% include "menu.html" %}

</div>

<div id="manager" class="row small">
    <a id="addproj" title="Создать новый проект">Создать</a>
    <a target="_blank" class="col-md-offset-2" id="man" href="{{ MY_STATIC_URL }}regions/reestrproj/help/man.html" title="Документация">Документация</a>
</div>

<div id="filter" class="row">
    <div class="small col-md-3">
        <mark>в разработке</mark>
        <dl class="dl-horizontal">
            <dt>Поиск текст:</dt>
            <dd><input class="form-control input-sm" id="search-text" value="{{ filter_dict.search_text }}" type="text" width="100%"/></dd>
            <dt>Другие сис.:</dt>
            <dd><input class="form-control input-sm" id="systems" value="{{ filter_dict.systems }}" type="text" width="100%"/></dd>
            <dt>Инициатор:</dt>
            <dd>
                <select class="form-control input-sm" id="initiator" width="100%">
                    {% if filter_dict.initiator|slugify == "" %}
                    <option value="" selected>---</option>
                    {% else %}
                    <option value="">---</option>
                    {% endif %}
                    {% for item in init %}
                    {% if item.id|slugify == filter_dict.initiator|slugify %}
                    <option value="{{ item.id }}" selected>{{ item.name }}</option>
                    {% else %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </dd>
            <dt>Реализатор:</dt>
            <dd>
                <select class="form-control input-sm" id="real" >
                    {% if filter_dict.real|slugify == "" %}
                    <option value="" selected>---</option>
                    {% else %}
                    <option value="">---</option>
                    {% endif %}
                    {% for item in real %}
                    {% if item.id|slugify == filter_dict.real|slugify %}
                    <option value="{{ item.id }}" selected>{{ item.name }}</option>
                    {% else %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </dd>
        </dl>
    </div>

    <div class="small col-md-3">
        <mark>в разработке</mark>
        <dl class="dl-horizontal">
            <dt>Стадия:</dt>
            <dd>
                <select class="form-control input-sm" id="stage" >
                    {% if filter_dict.stage|slugify == "" %}
                    <option value="" selected>---</option>
                    {% else %}
                    <option value="">---</option>
                    {% endif %}
                    {% for st in stages %}
                    {% if st.id|slugify == filter_dict.stage|slugify %}
                    <option value="{{ st.id }}" selected>{{ st.name }}</option>
                    {% else %}
                    <option value="{{ st.id }}">{{ st.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </dd>
            <dt>Стадия дата с:</dt>
            <dd><input class="form-control input-sm" id="stage-date1" value="{{ filter_dict.stage_date1 }}" type="text" width="100%"/></dd>
            <dt>Стадия дата по:</dt>
            <dd><input class="form-control input-sm" id="stage-date2" value="{{ filter_dict.stage_date2 }}" type="text" width="100%"/></dd>
            <dt>Стадия назначена с:</dt>
            <dd><input class="form-control input-sm" id="stage-run-date1" value="{{ filter_dict.stage_run_date1 }}" type="text" width="100%"/></dd>
            <dt>Стадия назначена по:</dt>
            <dd><input class="form-control input-sm" id="stage-run-date2" value="{{ filter_dict.stage_run_date2 }}" type="text" width="100%"/></dd>
            <dt>Стадия назначил:</dt>
            <dd>
                <select class="form-control input-sm" id="stage-chif" >
                    {% for u in users %}
                    {% if filter_dict.stage_chif|slugify == u.0|slugify %}
                    <option value="{{ u.0 }}" selected>{{ u.1 }}</option>
                    {% else %}
                    <option value="{{ u.0 }}">{{ u.1 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </dd>
        </dl>
    </div>

    <div class="small col-md-3">
        <mark>в разработке</mark>
        <dl class="dl-horizontal">
            <dt>Исполнитель:</dt>
            <dd>
                <select class="form-control input-sm" id="executor" >
                    {% for u in users %}
                    {% if filter_dict.executor|slugify == u.0|slugify %}
                    <option value="{{ u.0 }}" selected>{{ u.1 }}</option>
                    {% else %}
                    <option value="{{ u.0 }}">{{ u.1 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </dd>
            <dt>Исполнитель дата с:</dt>
            <dd><input class="form-control input-sm" id="executor-date1" value="{{ filter_dict.executor_date1 }}" type="text" width="100%"/></dd>
            <dt>Исполнитель дата по:</dt>
            <dd><input class="form-control input-sm" id="executor-date2" value="{{ filter_dict.executor_date2 }}" type="text" width="100%"/></dd>
            <dt>Подразделение:</dt>
            <dd>
                <select class="form-control input-sm" id="department" >
                    {% if filter_dict.blocks == "" %}
                    <option value="" selected>---</option>
                    {% else %}
                    <option value="">---</option>
                    {% endif %}
                    {% for item in blocks %}
                    {% if filter_dict.department|slugify == item.id|slugify %}
                    <option value="{{ item.id }}" selected>{{ item.name }}</option>
                    {% else %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </dd>
            <dt>Создан дата с:</dt>
            <dd><input class="form-control input-sm" id="create-date1" value="{{ filter_dict.create_date1 }}" type="text" width="100%"/></dd>
            <dt>Создан дата по:</dt>
            <dd><input class="form-control input-sm" id="create-date2" value="{{ filter_dict.create_date2 }}" type="text" width="100%"/></dd>
        </dl>
    </div>
    <div class="small col-md-2">
        <button id="search-button" title="Искать" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-search"></span></button>
        <button id="clear-button" title="Отменить поиск" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
        <a id="excel-button" title="Выгрузить в excel" class="btn btn-default btn-xs" href="/regions/reestrproj/excel/"><span class="glyphicon glyphicon-floppy-disk"></span></a>
        <a id="excel-all-button" title="Выгрузить все показатели" class="btn btn-default btn-xs" href="/regions/reestrproj/excelall/"><span class="glyphicon glyphicon-open-file"></span></a>
    </div>
</div>



<div class="row">
</div>



<div class="row">


    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/regions/reestrproj/page/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        {% endif %}
        <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="/regions/reestrproj/page/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        {% endif %}
    {% endif %}




    <table group="proj-list" class="table table-bordered table-striped draggable" width="100%">


        <thead class="small">

            <tr style="background-color:gainsboro;">
                <th>№пп</th>
                <th>Регион</th>
                <th>Код</th>
                <th>Том</th>
                <th>Стадия</th>
                <th>Наименование</th>
                <th>Города</th>
                <th>Комментарий</th>
                <th>Исполнители</th>
                <th>Направление<br>бизнеса</th>
            </tr>

        </thead>

        <tbody class="small">
            {% for row in object_list %}
                {% if row.main_proj == None %}
                    <tr>
                        <td><a>{{ row.id }}</a></td>
                        <td>{% if row.region %}{{ row.region }}{% endif %}</td>
                        <td><a href="/regions/reestrproj/edit/{{ row.id }}">{{ row.proj_kod }}</a></td>
                        <td>{{ row.proj_level }}</td>
                        <td>{% if row.stage %}<a href="/regions/reestrproj/edit/{{ row.id }}">{{ row.stage.getfullname }}</a>{% else %}{% endif %}</td>
                        <td><a href="/regions/reestrproj/edit/{{ row.id }}">{{ row.proj_name }}</a></td>
                        <td>
                            <ul>
                                {% for addr in row.data.address %}
                                    <li>{{ addr.city }}</li>
                                {% endfor %}
                            </ul>
                        </td>

                        <td {% if row.check_new_comment %}style="color:red;"{% endif %}>{{ row.comment_last|truncatechars:30 }}</td>

                        <td>
                            <ul>
                                {% for worker in row.reestr_proj_exec_date_set.all %}
                                    <li>{{ worker.worker.get_full_name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{% if row.business %}{{ row.business }}{% else %}{% endif %}</td>
                    </tr>


                    {# Отображение дочерних проектов #}
                    {% for item in row.level.all %}
                        <tr child>
                            <td><a>{{ item.id }}</a></td>
                            <td>{% if item.region %}{{ item.region }}{% endif %}</td>
                            <td><a href="/regions/reestrproj/edit/{{ item.id }}">{{ item.proj_kod }}</a></td>
                            <td>{{ item.proj_level }}</td>
                            <td>{% if item.stage %}<a href="/regions/reestrproj/edit/{{ item.id }}">{{ item.stage.getfullname }}</a>{% else %}{% endif %}</td>
                            <td><a href="/regions/reestrproj/edit/{{ item.id }}">{{ item.proj_name }}</a></td>
                            <td>
                                <ul>
                                    {% for addr in item.data.address %}
                                        <li>{{ addr.city }}</li>
                                    {% endfor %}
                                </ul>
                            </td>

                            <td {% if row.check_new_comment %}style="color:red;"{% endif %}>{{ item.comment_last|truncatechars:30  }}</td>

                            <td>
                                <ul>
                                    {% for worker in item.reestr_proj_exec_date_set.all %}
                                        <li>{{ worker.worker.get_full_name }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{% if item.business %}{{ item.business }}{% else %}{% endif %}</td>
                        </tr>
                    {% endfor %}

                {% endif %}
            {% endfor %}
        </tbody>




    </table>


    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/regions/reestrproj/page/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        {% endif %}
        <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="/regions/reestrproj/page/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        {% endif %}
    {% endif %}



</div>


{% include "regions/reestrproj/reestrprojadd.html" %}


{% endblock %}

