<div id="page-3" class="row small" hidden>

    <div class="row col-md-8">

        <form class="form-inline">
          <div class="form-group">
              <label for="stage">Стадия</label>
              <select class="form-control input-sm" id="stage" placeholder="">
                  <option value="">---</option>
                  {% for st in stages %}
                    {% if st.level == None %}
                        <option value={{ st.id }}>{{ st.name }}</option>
                        {% for st2 in st.stage2.all %}
                            <option value={{ st2.id }}>&nbsp;&nbsp;&nbsp;&nbsp;{{ st2.name }}</option>
                        {% endfor %}
                    {% endif %}
                  {% endfor %}
              </select>
          </div>
          <button type="button" id="addstage" class="btn btn-default btn-xs">Установить</button>
        </form>

    </div>


    <div class="row col-md-8">

        <table group="stages-list" class="table table-bordered table-striped draggable" width="100%">
            <thead>
                <tr>
                    <th width="10%">Дата</th>
                    <th>Стадия</th>
                    <th width="20%">Установил</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>

</div>