{% extends "index.html" %}


{% block content %}


{% load tz %}
{% load mptt_tags %}


<script type="text/javascript" src="{{ MY_STATIC_URL }}electro/deviceslist.js"></script>
<link href="{{ MY_STATIC_URL }}electro/deviceslist.css" type="text/css" rel="stylesheet">





<div class="container">

    {% include "menu.html" %}


</div>


<div class="container">

    <div class="row">
        <a class="small" id="new-device" href="#">Добавить</a>
    </div>

    <div class="row">
        <dl id="search_d" value="{{ search_d }}" class="dl-horizontal small">
            <dt>{{ filter.filter_d.label }}</dt>
            <dd>{{ filter.filter_d }}</dd>
        </dl>
        <dl id="search_p" value="{{ search_p }}" class="dl-horizontal small">
            <dt>{{ filter.filter_p.label }}</dt>
            <dd>{{ filter.filter_p }}</dd>
        </dl>
    </div>



    <div class="row">


        {% if paginator.num_pages > 1 %}
            {% if page_obj.has_previous %}
                <a href="/electro/deviceslist/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
            {% endif %}
            <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="/electro/deviceslist/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
            {% endif %}
        {% endif %}




        <table group="devices-list" class="table table-bordered table-striped draggable" width="100%">


            <thead class="small">

                <tr>
                    <th>Серийный номер</th>
                    <th>Наименование</th>
                    <th>Тип оборудования</th>
                    <th>Размещение</th>
                    <th>Адрес</th>
                    <th>Создан</th>
                    <th>Создал</th>
                </tr>

            </thead>

            <tbody class="small">
                {% for row in object_list %}
                    <tr row_id={{ row.id }}>
                        <td><a href="/electro/editdevice/{{ row.id }}/" target="_blank">{{ row.serial }}</a></td>
                        <td><a href="/electro/editdevice/{{ row.id }}/" target="_blank">{{ row.name }}</a></td>
                        <td>
                            {% if row.devicetype %}
                            <a href="/electro/editdevice/{{ row.id }}/" target="_blank">{{ row.devicetype }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if row.placement %}
                            <a href="/electro/editdevice/{{ row.id }}/" target="_blank">{{ row.placement }}</a>
                            {% endif %}
                        </td>
                        <td><a href="/electro/editdevice/{{ row.id }}/" target="_blank">{{ row.address }}</a></td>
                        {% timezone tz %}
                        <td><a href="/electro/editdevice/{{ row.id }}/" target="_blank">{{ row.datetime_create|date:"d.m.Y H:i e" }}</a></td>
                        {% endtimezone %}
                        <td><a href="/electro/editdevice/{{ row.id }}/" target="_blank">{{ row.author.get_full_name }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>


        </table>


        {% if paginator.num_pages > 1 %}
            {% if page_obj.has_previous %}
                <a href="/electro/deviceslist/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
            {% endif %}
            <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="/electro/deviceslist/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
            {% endif %}
        {% endif %}



    </div>




</div>








{% endblock %}




