{% extends "index.html" %}


{% block content %}


{% load tz %}

<script type="text/javascript" src="{{ MY_STATIC_URL }}equipment/devices.js"></script>
<script type="text/javascript" src="{{ MY_STATIC_URL }}monitor/jquery.tablescroll.js"></script>
<link href="{{ MY_STATIC_URL }}equipment/devices.css" type="text/css" rel="stylesheet">



<div class="container" style="padding:0;">

    {% include "menu.html" %}

</div>




<div class="row" style="margin:0; padding-top:2px; padding-bottom:5px; padding-left:5px;">

            <div class="form-group">
                <label for="search"><small>Search</small></label>
                <small>
                    <input type="text" style="height:28px;padding-left:2px;" id="search" placeholder="{{ search }}">
                    <button id="runsearch" title="Искать" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    <button id="clearsearch" title="Сброс" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <button id="no-rewrite" title="Не обновлять" type="button" {% if norewrite %}class="btn btn-default btn-xs active"{% else %}class="btn btn-default btn-xs"{% endif %}><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
                    <button id="access-error" title="Проблема с доступом" type="button" {% if notaccess %}class="btn btn-default btn-xs active"{% else %}class="btn btn-default btn-xs"{% endif %}><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></button>
                </small>
            </div>

</div>





<div class="row" style="margin:0;">


    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/equipment/devices/page/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        {% endif %}
        <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="/equipment/devices/page/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        {% endif %}
    {% endif %}





    <table group="devices" class="table table-bordered table-striped draggable" width="100%">


        <thead class="small">

            <tr style="background-color:gainsboro;">
                <th>ip адрес</th>
                <th>sysName</th>
                <th>sysDescr</th>
                <th>sysLocation</th>
                <th>serial</th>
                <th>mac</th>
                <th>domen</th>
                <th>Проблема доступа</th>
                <th>Не обновлять</th>
                <th>update</th>
            </tr>

        </thead>

        {% for row in object_list %}
            <tbody>
                <tr class="small">
                    <td>{{ row.ipaddress }}</td>
                    <td>{{ row.device_name }}</td>
                    <td>{{ row.device_descr }}</td>
                    <td>{{ row.device_location }}</td>
                    <td>{{ row.device_serial }}</td>
                    <td>{{ row.chassisid }}</td>
                    <td>{{ row.device_domen }}</td>
                    <td>
                        {% if row.access == False %}
                            Есть
                        {% else %}

                        {% endif %}
                    </td>
                    <td>
                        {% if row.no_rewrite == True %}
                            Да
                        {% endif %}
                    </td>
                    {% timezone tz %}
                    <td>{{ row.update|date:"d.m.Y H:i e" }}</td>
                    {% endtimezone %}
                </tr>
            </tbody>
        {% endfor %}
    </table>


        {% if paginator.num_pages > 1 %}
            {% if page_obj.has_previous %}
                <a href="/equipment/devices/page/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
            {% endif %}
            <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="/equipment/devices/page/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
            {% endif %}
        {% endif %}





</div>






{% endblock %}