<div id="editagregator" title="" hidden>
    <form id="agregatorform">
        <table>
            <tbody>
                <tr class="small">
                    <td><label for="ipaddress">ip адрес</label></td>
                    <td><input type="text" class="form-control input-sm" id="ipaddress" name="ipaddress" placeholder="" /></td>
                    <td><label for="domen">domen</label></td>
                    <td>
                    <select id="domen" name="domen" class="form-control input-sm">
                        {% for item in domen %}
                            <option valie="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                    </td>
                </tr>
                <tr class="small">
                    <td><label for="sysname">sysName</label></td>
                    <td><input type="text" class="form-control input-sm" id="sysname" name="sysname" placeholder="" /></td>
                    <td><label for="sysdescr">sysDescr</label></td>
                    <td><input type="text" class="form-control input-sm" id="sysdescr" name="sysdescr" placeholder="" /></td>
                </tr>
                <tr class="small">
                    <td><label for="syslocation">sysLocation</label></td>
                    <td><input type="text" class="form-control input-sm" id="syslocation" name="syslocation" placeholder="" /></td>
                    <td><label for="serial">Serial</label></td>
                    <td><input type="text" class="form-control input-sm" id="serial" name="serial" placeholder="" /></td>
                </tr>
                <tr class="small">
                    <td><label for="mac">Mac</label></td>
                    <td><input type="text" class="form-control input-sm" id="mac" name="mac" placeholder="" /></td>
                    <td><label for="footnode">Оп. узел</label></td>
                    <td>
                    <select id="footnode" name="footnode" class="form-control input-sm">
                        {% for item in footnodes %}
                            <option valie="{{ item.id }}" domen="{{ item.domen }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="uplink">Uplink</label></td>
                    <td><input type="text" class="form-control input-sm" id="uplink" name="mac" placeholder="" /></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
