<div id="form-add-link" title="" hidden>
    <form id="add-link">
        <table>
            <tbody>
                <tr class="small">
                    <td><label for="ipaddress1">IP address 1</label></td>
                    <td><input type="text" class="form-control input-sm" id="ipaddress1" name="ipaddress1" placeholder="" /></td>
                    <td><label for="port1">Port 1</label></td>
                    <td><input type="text" class="form-control input-sm" id="port1" name="port1" placeholder="" /></td>
                </tr>
                <tr class="small">
                    <td><label for="ipaddress2">IP address 2</label></td>
                    <td><input type="text" class="form-control input-sm" id="ipaddress2" name="ipaddress2" placeholder="" /></td>
                    <td><label for="port1">Port 2</label></td>
                    <td><input type="text" class="form-control input-sm" id="port2" name="port2" placeholder="" /></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
