{% extends "index.html" %}


{% block content %}


{% load tz %}


<link href="{{ MY_STATIC_URL }}regions/docs.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ MY_STATIC_URL }}regions/docs.js"></script>



<div class="container">

    {% include "menu.html" %}

</div>


<div class="row">
    <div id="manager" class="row small">
        <form class="form-inline col-sm-offset-1">
            <label for="select-inout">Входящие/Исходящие</label>
            <select inout_value="{{ inout_value }}" id="select-inout" class="form-control input-sm" data-width="auto">
                    <option value="0" selected></option>
                    {% for item in inout %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
            </select>
            <label for="select-message">Вид сообщения</label>
            <select message_type_value="{{ message_type_value }}" id="select-message" class="form-control input-sm" data-width="auto">
                    <option value="0" selected></option>
                    {% for item in message_type %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
            </select>
            <label for="select-status">Статус сообщения</label>
            <select message_status_value="{{ message_status_value }}" id="select-status" class="form-control input-sm" data-width="auto">
                    <option value="0" selected></option>
                    {% for item in message_status %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
            </select>
            <a id="addrow" href="/regions/docs/edit/add/" title="Создать новое сообщение">Добавить</a>
            <a id="toexcel" title="Выгрузить в Excel формат">Excel</a>
        </form>
    </div>
</div>



<div class="row">
</div>



<div class="row">



    <table group="docs-list" class="table table-bordered table-striped draggable" width="100%">


        <thead class="small">

            <tr style="background-color:gainsboro;">
                <th>Входящее<br>Исходящее</th>
                <th>Вид<br>сообщения</th>
                <th>Статус</th>
                <th>Заголовок</th>
                <th>Адресат</th>
                <th>Файлы</th>
                <th>Дата<br>создания</th>
                <th>Автор<br>создания</th>
                <th>Дата<br>изменения</th>
                <th>Автор<br>изменений</th>
                <th></th>
            </tr>

        </thead>

        <tbody>
            {% for row in object_list %}


                    <tr class="small" row_id="{{ row.id }}">
                        <td><a>{{ row.inout }}</a></td>
                        <td><a>{{ row.message_type }}</a></td>
                        <td><a>{{ row.status }}</a></td>
                        <td><a>{{ row.head }}</a></td>
                        <td></td>
                        <td></td>
                        {% timezone tz %}
                        <td><a>{{ row.datetime_create|date:"d.m.Y H:i e" }}</a></td>
                        {% endtimezone %}
                        <td><a>{{ row.user.get_username }} ({{ row.user.get_full_name }})</a></td>
                        {% timezone tz %}
                        <td><a>{{ row.datetime_update|date:"d.m.Y H:i e" }}</a></td>
                        {% endtimezone %}
                        <td><a>{{ row.author.get_username }} ({{ row.author.get_full_name }})</a></td>

                    </tr>

            {% endfor %}

        </tbody>




    </table>



</div>



{% endblock %}

