{% extends "index.html" %}


{% block content %}


<link href="{{ MY_STATIC_URL }}regions/docs.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ MY_STATIC_URL }}regions/docsdata.js"></script>



<div class="container">

    {% include "menu.html" %}

</div>


<a id="link_back" href="/regions/docs/" class="small">К списку</a>

<form class="small" id="message-data">

    <table>
        {{ form.as_table }}
        {% if access == 'owner' %}
        {% endif %}

        <tr><td></td><td><button id="save-common-button" class="btn btn-default btn-sm" onclick="return false;">Сохранить</button></td></tr>


    </table>

</form>




<div id="pages" class="row col-md-8 col-md-offset-1 small">
    <ul class="nav nav-tabs">
      <li id="nav-files" role="presentation" class="active"><a href="#">Документы</a></li>
      <li id="nav-status" role="presentation"><a href="#">Статус</a></li>
      <li id="nav-public" role="presentation"><a href="#">Адресаты</a></li>
    </ul>
</div>


{% include "regions/docs_files.html" %}
{% include "regions/docs_status.html" %}
{% include "regions/docs_public.html" %}


{% endblock %}