{% extends "index.html" %}


{% block content %}


{% load tz %}


<link href="{{ MY_STATIC_URL }}regions/proj.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ MY_STATIC_URL }}regions/projstages.js"></script>



<div class="container">

    {% include "menu.html" %}

</div>

<div class="row small">
    <div class="row col-md-4">
        <form id="projedit">
            <table>
                {{ form.as_table }}
                <tr><td></td><td><button type="submit" class="btn btn-default btn-xs" onclick="return false;">Сохранить</button></td></tr>
            </table>
        </form>
    </div>
    <div class="row col-md-1">
        <a href="/regions/proj/temp/{{ project }}/">Выгрузить в Шаблон</a>
    </div>
    <div class="row col-md-1">
        <a href="/regions/proj/excel/{{ project }}/">Выгрузить в Excel</a>
    </div>
    <div class="row col-md-1">
        <a href="/regions/proj/gant/{{ project }}/">Диаграмма Ганта</a>
    </div>
</div>



<div class="row">
    <button id="back-proj-button" class="btn btn-default btn-xs">К списку проектов</button>
    <button id="calculate-date-button" class="btn btn-default btn-xs">Вычислить даты</button>
    <button id="stage-adding" class="btn btn-default btn-xs" title="Добавить новый этап"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
</div>



<div class="row">


    <table group="stages-list" class="table table-bordered table-striped draggable" width="100%">


        <thead class="small">

            <tr style="background-color:gainsboro;">
                <th>Номер</th>
                <th>Название</th>
                <th>Длительность<br>дней</th>
                <th>Отложенность<br>дней</th>
                <th>Начало</th>
                <th>Завершение</th>
                <th>Зависит от</th>
                <th>Исполнители</th>
                <th>Файлы</th>
                <th>Коментарий</th>
                <th>Выполнено</th>
                <th>Удалить</th>
            </tr>

        </thead>


        <tbody>
            {% for row in object_list|dictsort:"stage_order" %}


                    <tr class="small" row_id="{{ row.id }}">

                        <td align="right"><a edit>{{ row.order }}</a></td>
                        <td>
                            {% for i in row.stage_order %}
                                &nbsp;&nbsp;&nbsp;
                            {% endfor %}
                            {# {% if row.main %}<strong>{% endif %}<a edit>{{ row.name }}</a>{% if row.main %}</strong>{% endif %} #}
                            {% if row.action == False %}<strong>{% endif %}<a edit>{{ row.name }}</a>{% if row.action %}</strong>{% endif %}
                        </td>
                        <td><a edit>{{ row.days }}</a></td>
                        <td><a edit>{{ row.deferment }}</a></td>
                        <td>
                            {% if row.begin %}
                                {{ row.begin|date:"d.m.Y" }}
                            {% endif %}
                        </td>
                        <td>
                            {% if row.end %}
                                {{ row.end|date:"d.m.Y" }}
                            {% endif %}
                        </td>
                        <td><a edit>{{ row.depend }}</a></td>
                        <td>
                            {# Исполнители #}
                            {% if row.id in actions %}
                                <a user><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                    {% if row.workers %}
                                        {% for u in row.workers.all %}
                                            <div user_id="{{ u.id }}">{{ u.get_full_name }} <a minus><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a></div>
                                        {% endfor %}
                                    {% endif %}
                                <div group="user-list" hidden>
                                    <br><select user class="input-sm form-control">
                                        <option value="" selected>---</option>
                                        {% for u in user_list %}
                                            <option value="{{ u.id }}">{{ u.get_full_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {# Список приложенных файлов #}
                            <a file><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                            {% for f in row.load_proj_files_set.all %}
                                {# Ссылки на файлы #}
                                <br><a readfile href="/regions/proj/readfile/?file_id={{ f.id }}&file_name={{ f.filename }}">{{ f.filename }}</a> ({{ f.user.get_full_name }}) <a file-delete file_name="{{ f.filename }}" file_id="{{ f.id }}"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                            {% endfor %}
                            {# Форма загрузки файлов #}
                            <div group="file" hidden>
                                <form enctype="multipart/form-data" action="/regions/proj/upload/" method="post">{% csrf_token %}
                                    <input id="stage_id" name="stage_id" value="{{ row.id }}" type="hidden" />
                                    <input name="fileupload" id="fileupload" class="fileinput small" type="file" />
                                    <button class="btn btn-default btn-xs" type="submit">Загрузить</button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <a book title="Коментарии"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{ row.proj_notes_set.count }}</a>
                        </td>
                        <td>
                                {% if row.done %}
                                    <input type="checkbox" checked />
                                {% else %}
                                    <input type="checkbox" />
                                {% endif %}
                        </td>

                        <td><a delete title="Удалить"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                    </tr>

            {% endfor %}

        </tbody>




    </table>




</div>



{% include "regions/editstage.html" %}
{% include "regions/projnotes.html" %}


{% endblock %}

