{% extends "index.html" %}


{% block content %}


{% load tz %}


<link href="{{ MY_STATIC_URL }}regions/proj.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ MY_STATIC_URL }}regions/projlist.js"></script>



<div class="container">

    {% include "menu.html" %}

</div>


<div class="row">
    <div id="manager" class="row small">
        <form>
            <a id="addproj" href="#" title="Создать новый проект">Создать</a>
            <a id="workertask" href="/regions/workertask/1/" title="Задачи исполнителей" target="_blank">Задачи исполнителей</a>
        </form>
    </div>
</div>



<div class="row">
</div>



<div class="row">


    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/regions/workertask/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        {% endif %}
        <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="/regions/workertask/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        {% endif %}
    {% endif %}




    <table group="proj-list" class="table table-bordered table-striped draggable" width="100%">


        <thead class="small">

            <tr style="background-color:gainsboro;">
                <th>Название</th>
                <th>Шаблон</th>
                <th>Начало проекта</th>
                <th>Выполненые этапы</th>
                <th>Статус</th>
                <th>Файлы</th>
                <th>Дата создания</th>
                <th>Cоздал</th>
            </tr>

        </thead>

        <tbody>
            {% for row in object_list %}


                    <tr class="small" row_id="{{ row.id }}">
                        <td><a stage>{{ row.name }}</a></td>
                        <td><a stage>{{ row.temp }}</a></td>
                        {% timezone tz %}
                        <td><a stage>{{ row.start|date:"d.m.Y" }}</a></td>
                        {% endtimezone %}
                        <td>
                            {# Список выполненых пунктов#}
                            <ul>
                            {% for stage in row.proj_stages_set.all %}
                                {% if stage.done %}
                                <li>{{ stage.name }}</li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </td>
                        <td><a stage>{{ row.status }}</a></td>
                        <td>
                            {# Список приложенных файлов #}
                            {% for stage in row.proj_stages_set.all %}
                                <ul>
                                {# Файлы этапов #}
                                {% for file in stage.load_proj_files_set.all %}
                                    <li><a file href="/regions/proj/readfile/?file_id={{ file.id }}&file_name={{ file.filename }}">{{ file.filename }}</a></li>

                                {% endfor %}
                                {# Файлы шагов #}
                                {% for step in stage.proj_steps_set.all %}
                                    {% for file in step.load_proj_files_set.all %}
                                        <li><a file href="/regions/proj/readfile/?file_id={{ file.id }}&file_name={{ file.filename }}">{{ file.filename }}</a></li>
                                    {% endfor %}
                                {% endfor %}
                                </ul>
                            {% endfor %}
                        </td>
                        {% timezone tz %}
                        <td><a stage>{{ row.datetime_create|date:"d.m.Y H:i e" }}</a></td>
                        {% endtimezone %}
                        <td><a stage>{{ row.author.get_username }} ({{ row.author.get_full_name }})</a></td>

                    </tr>

            {% endfor %}

        </tbody>




    </table>


    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/regions/workertask/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        {% endif %}
        <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="/regions/workertask/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        {% endif %}
    {% endif %}



</div>


{% include "regions/newproj.html" %}


{% endblock %}

