<div id="noteslist" class="small" hidden>

    <dl class="dl-horizontal" id="proj-notes-list"></dl>

    <table id="noteadd">
        <tbody>
        <tr>
            <td><label for="text-new-note">Текст нового коментария</label></td>
            <td><textarea id="text-new-note"></textarea></td>
            <td><button id="addnote" title="Добавить коментарий" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
        </tr>
        </tbody>
    </table>


</div>