{% extends "index.html" %}


{% block content %}


{% load tz %}


<link href="{{ MY_STATIC_URL }}blocks/blockslist.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ MY_STATIC_URL }}blocks/blockslist.js"></script>



<div class="container">

    {% include "menu.html" %}

</div>

<mark>В разработке</mark>
<div id="filter" class="row">

    <div class="small col-md-1">
        <a id="addbuilding" title="Создать дом">Создать дом</a>
    </div>

    <div class="small col-md-1">
        <a id="addmanager" title="Создать компанию">Создать компанию</a>
    </div>

    {% include "blocks/blockslist_filter.html" %}

    <div class="small col-md-2">
        <button id="search-button" title="Искать" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-search"></span></button>
        <button id="clear-button" title="Отменить поиск" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
</div>



<div class="row">
</div>


<mark>В разработке</mark>
<div class="row">


    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/blocks/blocklist/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        {% endif %}
        <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="/blocks/blocklist/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        {% endif %}
    {% endif %}




    <table group="blocks-list" class="table table-bordered table-striped draggable" width="100%">


        <thead class="small">

            <tr style="background-color:gainsboro;">
                <th>ID</th>
                <th>ИНН</th>
                <th>Название компании</th>
                <th>Город</th>
                <th>Улица</th>
                <th>Дом</th>
                <th>Число ТКД</th>
                <th>Абонентов</th>
                <th>Сумма</th>
                <th>Стоимость/мес.</th>
            </tr>

        </thead>

        <tbody class="small">
            {% for row in object_list %}
            <tr>
                <td>{{ row.www_id }}</td>
                <td>{{ row.inn }}</td>
                <td>{{ row.name }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>




    </table>


    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/blocks/blocklist/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        {% endif %}
        <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="/blocks/blocklist/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        {% endif %}
    {% endif %}



</div>




{% endblock %}

