{% extends "index.html" %}


{% block content %}


{% load tz %}


<link href="{{ MY_STATIC_URL }}blocks/blockslist.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ MY_STATIC_URL }}blocks/blockslist.js"></script>



<div class="container">

    {% include "menu.html" %}

</div>


<div id="filter" class="row">

    <div class="small col-md-1">
        <a id="addbuilding" title="Создать дом">Создать дом</a>
    </div>

    <div class="small col-md-1">
        <a id="addmanager" title="Создать компанию">Создать компанию</a>
    </div>

    {% include "blocks/blockslist_filter.html" %}

    <div class="small col-md-2">
        <button id="search-button" title="Искать" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-search"></span></button>
        <button id="clear-button" title="Отменить поиск" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
</div>



<div class="row">
</div>



<div class="row">


    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/blocks/blocklist/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        {% endif %}
        <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="/blocks/blocklist/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        {% endif %}
    {% endif %}




    <table group="blocks-list" class="table table-bordered table-striped draggable" width="100%">


        <thead class="small">

            <tr>
                <th>ID</th>
                <th>ИНН</th>
                <th>Название<br>компании</th>
                <th>Телефон</th>
                <th>Контакты</th>
                <th>Город</th>
                <th>Улица</th>
                <th>Дом</th>
                <th>Условия<br>доступа</th>
                <th>Число ТКД</th>
                <th>Абонентов</th>
                <th>Сумма</th>
                <th>Стоимость/мес.</th>
            </tr>

        </thead>

        <tbody class="small">
            {% for row in object_list %}
                <tr class="company">
                    <td style="background-color:#98FB98;"><a href="/blocks/companyedit/{{ row.id }}/" target="_blank" style="color: brown;">{{ row.www_id }}</a></td>
                    <td style="background-color:#98FB98;"><a href="/blocks/companyedit/{{ row.id }}/" target="_blank" style="color: brown;">{{ row.inn }}</a></td>
                    <td style="background-color:#98FB98;"><a href="/blocks/companyedit/{{ row.id }}/" target="_blank" style="color: brown;">{{ row.name }}</a></td>
                    <td style="background-color:#98FB98;"><a href="/blocks/companyedit/{{ row.id }}/" target="_blank" style="color: brown;">{{ row.phone }}</a></td>
                    <td style="background-color:#98FB98;"><a href="/blocks/companyedit/{{ row.id }}/" target="_blank" style="color: brown;">{{ row.contact }}</a></td>
                    <td style="background-color:#98FB98;"><a href="/blocks/companyedit/{{ row.id }}/" target="_blank" style="color: brown;">{{ row.address.city }}</a></td>
                    <td style="background-color:#98FB98;"><a href="/blocks/companyedit/{{ row.id }}/" target="_blank" style="color: brown;">{{ row.address.street }}</a></td>
                    <td style="background-color:#98FB98;"><a href="/blocks/companyedit/{{ row.id }}/" target="_blank" style="color: brown;">{{ row.address.house }}</a></td>
                    <td style="background-color:#98FB98;"></td>
                    <td style="background-color:#98FB98;"></td>
                    <td style="background-color:#98FB98;"></td>
                    <td style="background-color:#98FB98;"></td>
                    <td style="background-color:#98FB98;"></td>
                </tr>


            {% for house in row.buildings_set.all %}
                <tr>
                    <td colspan="5" style="background-color:#FDF5E6;"></td>
                    <td style="background-color:#FDF5E6;"><a href="/blocks/houseedit/{{ house.id }}/" target="_blank" style="color: black;">{{ house.address.city }}</a></td>
                    <td style="background-color:#FDF5E6;"><a href="/blocks/houseedit/{{ house.id }}/" target="_blank" style="color: black;">{{ house.address.street }}</a></td>
                    <td style="background-color:#FDF5E6;"><a href="/blocks/houseedit/{{ house.id }}/" target="_blank" style="color: black;">{{ house.address.house }}</a></td>
                    <td style="background-color:#FDF5E6;"><a href="/blocks/houseedit/{{ house.id }}/" target="_blank" style="color: black;">{{ house.access }}</a></td>
                    <td style="background-color:#FDF5E6;"></td>
                    <td style="background-color:#FDF5E6;"></td>
                    <td style="background-color:#FDF5E6;"></td>
                    <td style="background-color:#FDF5E6;"></td>
                </tr>
            {% endfor %}
            {% endfor %}
        </tbody>




    </table>


    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/blocks/blocklist/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        {% endif %}
        <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="/blocks/blocklist/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        {% endif %}
    {% endif %}



</div>




{% endblock %}

