    <div class="small col-md-3">
        <dl class="dl-horizontal">
            <dt>Город:</dt>
            <dd>
                <select class="form-control input-sm" id="city" >
                    <option value="">---</option>
                    {% for item in city %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
            </dd>
            <dt>Поиск по адресу:</dt>
            <dd><input class="form-control input-sm" id="search-text" value="{{ filter_dict.search_text }}" type="text" width="100%"/></dd>
            <dt>Поиск по компании:</dt>
            <dd><input class="form-control input-sm" id="systems" value="{{ filter_dict.systems }}" type="text" width="100%"/></dd>
        </dl>
    </div>

