{% extends "index.html" %}


{% block content %}


{% load tz %}


<link href="{{ MY_STATIC_URL }}blocks/company_edit.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ MY_STATIC_URL }}blocks/company_edit.js"></script>



<div class="container">

    {% include "menu.html" %}


    <div class="row small">

        <div class="col-md-8">

            <h4>Карточка компании</h4>

            <div id="common" company_id={{ comp.id }}></div>

            <dl class="dl-horizontal">
                <div class="col-md-4">
                    <dt>{{ form.name.label }}</dt>
                    <dd>{{ form.name }}</dd>
                    <dt>{{ form.inn.label }}</dt>
                    <dd>{{ form.inn }}</dd>
                    <dt>{{ form.phone.label }}</dt>
                    <dd>{{ form.phone }}</dd>
                    <dt>{{ form.email.label }}</dt>
                    <dd>{{ form.email }}</dd>
                    <dt>{{ form.contact.label }}</dt>
                    <dd>{{ form.contact }}</dd>
                    <dt>{{ form.address2.label }}</dt>
                    <dd>{{ form.address2 }}</dd>
                    <dt>{{ form.address_law2.label }}</dt>
                    <dd>{{ form.address_law2 }}</dd>
                </div>
            </dl>

        </div>

        <div class="col-md-3">
            <div>
                <a href="https://www.reformagkh.ru/mymanager/profile/{{ comp.www_id }}/" target="_blank">Реформа ЖКХ</a>
            </div>
            <div>
                <button id="button-save" class="btn btn-default btn-xs">Сохранить</button>
            </div>
        </div>

    </div>


    <div class="row col-md-8 small">
        <ul class="nav nav-tabs">
          <li id="nav-1" role="presentation" class="active"><a href="#">Договоры</a></li>
          <li id="nav-2" role="presentation"><a href="#">Документы</a></li>
          <li id="nav-3" role="presentation"><a href="#">Комментарии</a></li>
          <li id="nav-4" role="presentation"><a href="#">Лог</a></li>
        </ul>
    </div>



</div>


<div class="container">

    {% include "blocks/company_pages/page1.html" %}
    {% include "blocks/company_pages/page2.html" %}
    {% include "blocks/company_pages/page3.html" %}
    {% include "blocks/company_pages/page4.html" %}

</div>


{% include "saving.html" %}


<iframe name="uploadframe" hidden></iframe>


{% endblock %}
