<div id="create-house" hidden>

    <dl class="dl-horizontal">
        <div class="col-md-4 small">
            <dt>{{ form.www_id.label }}</dt>
            <dd>{{ form.www_id }}</dd>
            <dt>{{ form.numstoreys.label }}</dt>
            <dd>{{ form.numstoreys }}</dd>
            <dt>{{ form.numentrances.label }}</dt>
            <dd>{{ form.numentrances }}</dd>
            <dt>{{ form.numfloars.label }}</dt>
            <dd>{{ form.numfloars }}</dd>
            <dt>{{ form.access.label }}</dt>
            <dd>{{ form.access }}</dd>
            <dt>{{ form.address2.label }}</dt>
            <dd>{{ form.address2 }}</dd>
            <dt>{{ form.manager.label }}</dt>
            <dd>{{ form.manager }}</dd>
        </div>
    </dl>

</div>
