<div id="create-company" hidden>

    <dl class="dl-horizontal">
        <div class="col-md-4 small">
            <dt>{{ form.www_id.label }}</dt>
            <dd>{{ form.www_id }}</dd>
            <dt>{{ form.name.label }}</dt>
            <dd>{{ form.name }}</dd>
            <dt>{{ form.inn.label }}</dt>
            <dd>{{ form.inn }}</dd>
            <dt>{{ form.phone.label }}</dt>
            <dd>{{ form.phone }}</dd>
            <dt>{{ form.email.label }}</dt>
            <dd>{{ form.email }}</dd>
            <dt>{{ form.contact.label }}</dt>
            <dd>{{ form.contact }}</dd>
            <dt>{{ form.address2.label }}</dt>
            <dd>{{ form.address2 }}</dd>
            <dt>{{ form.address_law2.label }}</dt>
            <dd>{{ form.address_law2 }}</dd>
        </div>
    </dl>

</div>
