thead.small > tr:nth-child(1) > th:nth-child(1),
thead.small > tr:nth-child(1) > th:nth-child(2),
thead.small > tr:nth-child(1) > th:nth-child(3),
thead.small > tr:nth-child(1) > th:nth-child(4),
thead.small > tr:nth-child(1) > th:nth-child(5),
thead.small > tr:nth-child(1) > th:nth-child(6),
thead.small > tr:nth-child(1) > th:nth-child(7),
thead.small > tr:nth-child(1) > th:nth-child(8),
thead.small > tr:nth-child(1) > th:nth-child(9),
thead.small > tr:nth-child(1) > th:nth-child(10) {
    padding: 0;
    text-align: left;
    vertical-align: top;
}

.table > tbody > tr > td {
    padding: 0;
    text-align: left;
    vertical-align: top;
}

.table > thead {
    background-color: gainsboro;
}


.no-rewrite {
    background-color: #B0E0E6;
}


.table > tbody > tr > td > input[type=text] {
    border: 0;
    margin: 0;
    background-color: #B0E0E6;
}

