{% extends "index.html" %}


{% block content %}


{% load tz %}

<script type="text/javascript" src="{{ MY_STATIC_URL }}maps/accidents.js"></script>
<script type="text/javascript" src="{{ MY_STATIC_URL }}monitor/jquery.tablescroll.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<link href="{{ MY_STATIC_URL }}maps/accidents.css" type="text/css" rel="stylesheet">



<div class="container">

    {% include "menu.html" %}

</div>




<div id="choise-city" class="row small">
    <form class="form-inline col-sm-offset-1">
        <label for="select-cities">Город</label>
        <select id="select-cities" class="form-control input-sm" data-width="auto">
                <option value="0"></option>
                {% for item in city_list %}
                    {% if item.geo_ok %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endif %}
                {% endfor %}
        </select>
    </form>
</div>










<div class="row">

    <div class="row col-md-8">
        <div id="accident-map"></div>
    </div>

    <div class="row col-md-3">
       <table group="accidents" class="table table-bordered table-striped draggable" width="100%">
            <thead class="small">
                <th>id</th>
                <th>Начало</th>
                <th>Завершение</th>
                <th>Авария</th>
            </thead>
                <tbody class="small">
                    {% for row in accidents %}
                    <tr>
                        <td><a>{{ row.id }}</a></td>
                        {% timezone tz %}
                        <td><a>{{ row.acc_start|date:"d.m.Y H:i e" }}</a></td>
                        <td><a>{{ row.acc_end|date:"d.m.Y H:i e" }}</a></td>
                        {% endtimezone %}
                        <td><a>{{ row.acc_name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>

       </table>
    </div>

</div>



{% include "loading.html" %}


{% endblock %}