{% extends "index.html" %}


{% block content %}


{% load tz %}

<script type="text/javascript" src="{{ MY_STATIC_URL }}maps/ports.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<link href="{{ MY_STATIC_URL }}maps/ports.css" type="text/css" rel="stylesheet">



<div class="container">

    {% include "menu.html" %}

</div>




<div id="choise-city" class="row small">
    <form class="form-inline col-sm-offset-1">
        <label for="select-cities">Город</label>
        <select id="select-cities" class="form-control input-sm" data-width="auto">
                <option value="0"></option>
                {% for item in city_list %}
                    {% if item.geo_ok %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endif %}
                {% endfor %}
        </select>
    </form>
</div>










<div class="row">

    <div class="row col-md-8">
        <div id="ports-map"></div>
    </div>

    <div class="row col-md-3">
        <p class="text-capitalize text-center"><strong>Примечание</strong></p>
        <dl>
          <dt>Данные:</dt>
          <dd>Данные получены через опрос оборудования и анализ содержания конфигурационных файлов. Опубликованы количества портов, которые используются абонентами на момент "опроса" сетевых устройств</dd>
          <dt>Обозначения:</dt>
          <dd></dd>

            <dt><img src="{{ MY_STATIC_URL }}maps/green.png" alt="" class="img-thumbnail"></dt>
            <dd>Число используемых абонентами портов увеличелось по сравнению с прошлым периодом</dd>

            <dt><img src="{{ MY_STATIC_URL }}maps/red.png" alt="" class="img-thumbnail"></dt>
            <dd>Число используемых абонентами портов уменьшилось по сравнению с прошлым периодом</dd>

            <dt><img src="{{ MY_STATIC_URL }}maps/brown.png" alt="" class="img-thumbnail"></dt>
            <dd>Число используемых абонентами портов не изменилось по сравнению с прошлым периодом</dd>

            <dt><img src="{{ MY_STATIC_URL }}maps/black.png" alt="" class="img-thumbnail"></dt>
            <dd>Данных нет</dd>

        </dl>
    </div>

</div>



{% include "loading.html" %}


{% endblock %}