table[group=house-list] > thead > tr > th {
    background-color:#DCDCDC;
    padding: 0;
    text-align: left;
    vertical-align: top;
}


.row {
    margin: 0;
}


table[group=house-list] > tbody > tr > td {
    padding: 0;
    vertical-align: top;
}



/* Курсор */
table[group=house-list] > tbody > tr > td > a,
a#addbuilding {
    cursor:pointer;
    text-decoration:none;
}


table[group=house-list] > tbody > tr > td > a:hover,
a#addbuilding {
    text-decoration:none;
}





/* Отступить от меню */
#filter {
    margin-top:30px;
    margin-bottom:20px;
}

