<!DOCTYPE html>

        <head>


            <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

            <link href="{{ MY_STATIC_URL }}css/bootstrap.css" type="text/css" rel="stylesheet">

            <script type="text/javascript" src="{{ MY_STATIC_URL }}js/jquery-2.2.4.js"></script>
            {# <script type="text/javascript" src="{{ MY_STATIC_URL }}js/jquery-3.1.0.min.js"></script> #}


            <script type="text/javascript" src="{{ MY_STATIC_URL }}js/bootstrap.js"></script>
            {# <script type="text/javascript" src="{{ MY_STATIC_URL }}js/jquery-migrate-1.4.1.min.js"></script> #}
            {# <script type="text/javascript" src="{{ MY_STATIC_URL }}js/jquery-migrate-3.0.0.js"></script> #}

            {# <link href="{{ MY_STATIC_URL }}css/jquery.multiselect.css" type="text/css" rel="stylesheet"> #}
            {# <script type="text/javascript" src="{{ MY_STATIC_URL }}js/jquery.multiselect.js"></script> #}
            <script type="text/javascript" src="{{ MY_STATIC_URL }}js/datepicker-ru.js"></script>
            <script type="text/javascript" src="{{ MY_STATIC_URL }}js/jquery-ui.js"></script>

            {# <link href="{{ MY_STATIC_URL }}css/bootstrap-datetimepicker.css" type="text/css" rel="stylesheet"> #}
            {# <script type="text/javascript" src="{{ MY_STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script> #}

            <link href="{{ MY_STATIC_URL }}css/jquery-ui.css" type="text/css" rel="stylesheet">
            <link href="{{ MY_STATIC_URL }}css/jquery-ui.theme.css" type="text/css" rel="stylesheet">

        </head>



<body>