<div class="row small text-right" style="margin:0;">
     <div class="text-success">Пользователь: {{ MY_USER_NAME }}, {{ MY_USER_TZ_NAME }}
        <a href="#" title="Настройки" id="user-settings"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a>
     </div>
</div>

<div class="row" >


    <ul class="nav nav-pills small">
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
          События
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li id="menumonitor" {% if request.path|slice:'0:16' == "/monitor/events/" %}class="active"{% endif %}><a href="/monitor/events/page/1/">Оперативный журнал</a></li>
          <li class="divider"></li>
          <li id="menuaccidents" {% if request.path|slice:'0:19' == "/monitor/accidents/" %}class="active"{% endif %}><a href="/monitor/accidents/page/1/">Аварии</a></li>
          <li id="menuemailaccidents" {% if request.path|slice:'0:18' == "/monitor/messages/" %}class="active"{% endif %}><a href="/monitor/messages/page/1/">Оповещения</a></li>
          <li class="divider"></li>
          <li id="menuzkl" {% if request.path|slice:'0:13' == "/monitor/zkl/" %}class="active"{% endif %}><a href="/monitor/zkl/">ЗКЛ</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
          Учет рабочего времени
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li id="menuworking" {% if request.path|slice:'0:14' == "/working/card/" %}class="active"{% endif %}><a href="/working/card/">Личная карточка</a></li>
          <li id="menumakereports" {% if request.path|slice:'0:21' == "/working/makereports/" %}class="active"{% endif %}><a href="/working/makereports/1/">Подготовка отчетности</a></li>
          <li class="divider"></li>
          <li><a href="#">Отчет</a></li>
        </ul>
      </li>
      {% comment %}
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
          Топология сети
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li id="menufootnodes" {% if request.path|slice:'0:21' == "/equipment/footnodes/" %}class="active"{% endif %}><a href="/equipment/footnodes/page/1/">Опорные узлы</a></li>
          <li id="menuagregators" {% if request.path|slice:'0:22' == "/equipment/agregators/" %}class="active"{% endif %}><a href="/equipment/agregators/page/1/">Агрегаторы</a></li>
          <li id="menudevices" {% if request.path|slice:'0:19' == "/equipment/devices/" %}class="active"{% endif %}><a href="/equipment/devices/page/1/">Устройства</a></li>
          <li class="divider"></li>
          <li id="menutopology" {% if request.path|slice:'0:20' == "/equipment/topology/" %}class="active"{% endif %}><a href="/equipment/topology/">Топология</a></li>
        </ul>
      </li>
      {% endcomment %}
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
          Карты
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li id="mapaccidents" {% if request.path|slice:'0:16' == "/maps/accidents/" %}class="active"{% endif %}><a href="/maps/accidents/">Аварии на карте</a></li>
          <li id="mapfindip" {% if request.path|slice:'0:13' == "/maps/findip/" %}class="active"{% endif %}><a href="/maps/findip/">Поиск по IP</a></li>
          {# <li id="mapports" {% if request.path|slice:'0:12' == "/maps/ports/" %}class="active"{% endif %}><a href="/maps/ports/">Активность портов</a></li> #}
        </ul>
      </li>
      {% comment %}
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
          Дома
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">УК ТСЖ ТСН ...</a></li>
        </ul>
      </li>
      {% endcomment %}
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
          Регионы
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li id="menuregionsorders" {% if request.path|slice:'0:16' == "/regions/orders/" %}class="active"{% endif %}><a href="/regions/orders/">Таблица заказов</a></li>
          <li id="menuregionsreestr" {% if request.path|slice:'0:16' == "/regions/reestr/" %}class="active"{% endif %}><a href="/regions/reestr/page/1/">Реестр</a></li>
         {# <li id="menuregionsdocs" {% if request.path|slice:'0:14' == "/regions/docs/" %}class="active"{% endif %}><a href="/regions/docs/">Документы</a></li> #}
          <li id="menuregionsproj" {% if request.path|slice:'0:14' == "/regions/proj/" %}class="active"{% endif %}><a href="/regions/proj/page/1/">Проекты</a></li>
          <li id="menureestrproj" {% if request.path|slice:'0:20' == "/regions/reestrproj/" %}class="active"{% endif %}><a href="/regions/reestrproj/page/1/">Реестр проектов</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
          Тестирование
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li id="menuexamsquestions" {% if request.path|slice:'0:17' == "/exams/questions/" %}class="active"{% endif %}><a href="/exams/questions/1/">Вопросы</a></li>
          <li id="menuexamstestdata" {% if request.path|slice:'0:13' == "/exams/tests/" %}class="active"{% endif %}><a href="/exams/tests/1/">Состав тестов</a></li>
          <li id="menuexamstesting" {% if request.path|slice:'0:16' == "/exams/examlist/" %}class="active"{% endif %}><a href="/exams/examlist/1/">Прохождение тестов</a></li>
          <li id="menuexamsresults" {% if request.path|slice:'0:15' == "/exams/results/" %}class="active"{% endif %}><a href="/exams/results/1/">Результаты тестирования</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
          Инвентори
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li id="menu4devices" {% if request.path|slice:'0:19' == "/inventory/devices/" %}class="active"{% endif %}><a href="/inventory/devices/page/1/">Устройства</a></li>
          <li id="menunetelements" {% if request.path|slice:'0:23' == "/inventory/netelements/" %}class="active"{% endif %}><a href="/inventory/netelements/page/1/">Сетевые элементы</a></li>
          <li id="menuauditports" {% if request.path|slice:'0:22' == "/inventory/auditports/" %}class="active"{% endif %}><a href="/inventory/auditports/">Аудит портов</a></li>
          <li class="divider"></li>
          <li id="menudevicesschemes" {% if request.path|slice:'0:24' == "/inventory/devicescheme/" %}class="active"{% endif %}><a href="/inventory/devicescheme/page/1/">Модели устройств</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
          Прочее
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a target="_blank" href="/admin/">Админка</a></li>
          {# <li><a target="_blank" href="http://docs.sib.transtk.ru">Документация</a></li> #}
          <li><a target="_blank" href="http://10.6.0.22:8000/doc/">Документация</a></li>
        </ul>
      </li>

      <li><a href="/logout">Выход</a></li>


    </ul>



</div>
