<div id="contract-window" class="row small" hidden contract-id="">
    <dl class="dl-horizontal">
        <dt>{{ contract.num.label }}</dt>
        <dd>{{ contract.num }}</dd>
        <dt>{{ contract.date_begin.label }}</dt>
        <dd>{{ contract.date_begin }}</dd>
        <dt>{{ contract.date_end.label }}</dt>
        <dd>{{ contract.date_end }}</dd>
        <dt>{{ contract.goon.label }}</dt>
        <dd>{{ contract.goon }}</dd>
        <dt>{{ contract.money.label }}</dt>
        <dd>{{ contract.money }}</dd>
        <dt>{{ contract.period.label }}</dt>
        <dd>{{ contract.period }}</dd>
        <dt>{{ contract.manager.label }}</dt>
        <dd>{{ contract.manager }}</dd>
        <dt>{{ contract.comment.label }}</dt>
        <dd>{{ contract.comment }}</dd>
    </dl>
</div>