<div id="page-1" class="row small">


    <div class="row col-md-8">

        <p><a id="addcontract" title="Добавить договор">Создать</a></p>

            <table group="contract-list" class="table table-bordered table-striped draggable" width="100%">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Начало</th>
                        <th>Окончание</th>
                        <th>Продление</th>
                        <th>Сумма</th>
                        <th>Оплата период</th>
                        <th>Дата создания</th>
                        <th>Cоздал</th>
                        <th>Ответственный</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

    </div>


</div>


{% include "blocks/company_pages/contract_form.html" %}