<div id="page-3" class="row small" hidden>

    <div class="row col-md-8">

          <div class="form-group">
              <label for="comment">Комментарий</label>
              <textarea class="form-control input-sm" id="comment" placeholder=""></textarea>
          </div>

          <button type="button" id="addcomment" class="btn btn-default btn-xs">Добавить</button>

    </div>

    <div class="row col-md-8">

        <table group="comment-list" class="table table-bordered table-striped draggable" width="100%">
            <thead>
                <tr>
                    <th width="10%">Дата</th>
                    <th>Комментарий</th>
                    <th width="20%">Комментарий оставил</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>


</div>