<div id="page-7" class="row small" hidden>

    <div class="row col-md-8">
        <br>
        <a href="#" id="create-child-proj">Создать</a>
        <br>
    </div>


    <div class="row col-md-8">

        <table group="child-list" class="table table-bordered table-striped draggable" width="100%">
            <thead>
                <tr>
                    <th>Код</th>
                    <th>Том</th>
                    <th>Стадия</th>
                    <th>Наименование</th>
                    <th>Создан</th>
                    <th>Автор</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>


</div>