{% load tz %}

<div id="containertools" class="row" style="margin:0;">
<small>
    <button id="addgroup" title="Добавить в группировку" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
    <button id="hidegroup" title="Скрыть группировку" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    {# <button id="showmembers" title="Развернуть группировку" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon glyphicon-arrow-down" aria-hidden="true"></span></button> #}
    {# <button id="hidemembers" title="Свернуть группировку" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button> #}
    <button id="deletemembers" title="Удалить" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span></button>
    <info>Группировка {{ members }} элементов</info>
</small>

</div>

