{% load tz %}

<div id="containertools" class="row" style="margin:0;padding-left:5px;">
<small>
    <button id="addgroup" title="Добавить в группировку" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    <button id="deletemembers" title="Удалить" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span></button>
    <info>Группировка {{ members }} элементов</info>
</small>

</div>

