<div id="drplist" class="small" hidden>

    <dl class="dl-horizontal" id="accident-drp-files"></dl>
    <dl class="dl-horizontal" id="accident-drp-list"></dl>

    <table id="drpadd">
        <tbody>
        <tr>
            <td><label for="text-new-drp">Текст нового ДРП</label></td>
            <td><textarea id="text-new-drp"></textarea></td>
            <td><button id="adddrp" title="Добавить ДРП" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
        </tr>
        </tbody>
    </table>


</div>