{% extends "index.html" %}


{% block content %}


{% load tz %}


<link href="{{ MY_STATIC_URL }}monitor/monitor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ MY_STATIC_URL }}monitor/monitor.js"></script>
<script type="text/javascript" src="{{ MY_STATIC_URL }}monitor/jquery.tablescroll.js"></script>



<div class="container" style="padding:0;">

    {% include "menu.html" %}

</div>


<div class="row" style="margin:0; padding-top:2px; padding-bottom:5px; padding-left:5px;">

        <div>
            <small>
                <button id="showgroup" title="Показать группировку" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></button>
                <button id="addgroup" title="Добавить в группировку" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
                <button id="addrow" title="Создать" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </small>
        </div>

</div>



<div class="row" style="margin:0; padding-bottom:5px; padding-left:5px;">

        <form class="form-inline">
            <div class="form-group">
                <label for="filter-status"><small>Status</small></label>
                <select selected_value='{{ selected_status }}' id="filter-status" class="form-control input-sm" style="padding:0; width:100px;">
                    {% for item in status %}
                        {{ item|safe }}
                    {% endfor %}
                </select>
            </div>
            <button id="runstatus" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>
            <div class="form-group">
                <label for="filter-severity"><small>Severity</small></label>
                <select selected_value='{{ selected_severity }}' id="filter-severity" class="form-control input-sm" style="padding:0; width:100px;">
                    {% for item in severity %}
                        {{ item|safe }}
                    {% endfor %}
                </select>
            </div>
            <button id="runseverity" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>
            <div class="form-group">
                <label for="manager"><small>Manager</small></label>
                <select selected_value='{{ selected_manager }}' id="manager" class="form-control input-sm" style="padding:0;width:200px;">
                    {% for item in manager %}
                        {{ item|safe }}
                    {% endfor %}
                </select>
            </div>
            <button id="runmanager" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>
            <div class="form-group">
                <label for="search"><small>Search</small></label>
            <small>
                <input type="text" style="height:28px;padding-left:2px;" id="search" placeholder="{{ search }}">
                <button id="runsearch" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                <button id="clearsearch" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </small>
            </div>
            <div class="form-group">
                <label for="first_seen"><small>first_seen</small></label>
                <small>
                    <input type="text" style="height:28px;padding-left:2px;" id="first_seen" placeholder="{{ first_seen }}">
                <button id="clearfirstseen" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                </small>
            </div>
            <div class="form-group">
                <label for="last_seen"><small>last_seen</small></label>
                <small>
                    <input type="text" style="height:28px;padding-left:2px;" id="last_seen" placeholder="{{ last_seen }}">
                <button id="clearlastseen" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                </small>
            </div>
        </form>

</div>


{% if containergroup != False %}
    {% include "monitor/containergroup.html" %}
{% endif %}

<div class="row" style="margin:0;">


    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/monitor/events/page/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        {% endif %}
        <span class="current_page">Page {{ page_obj.number }}</span>
        {% if page_obj.has_next %}
            <a href="/monitor/events/page/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        {% endif %}
    {% endif %}


    <div id="floatingCirclesG">
        <div class="f_circleG" id="frotateG_01"></div>
        <div class="f_circleG" id="frotateG_02"></div>
        <div class="f_circleG" id="frotateG_03"></div>
        <div class="f_circleG" id="frotateG_04"></div>
        <div class="f_circleG" id="frotateG_05"></div>
        <div class="f_circleG" id="frotateG_06"></div>
        <div class="f_circleG" id="frotateG_07"></div>
        <div class="f_circleG" id="frotateG_08"></div>
    </div>




    <table group="events" class="table table-bordered" width="100%" hidden>


        {% include "monitor/tablehead.html" %}

        {% for row in object_list %}
            <tbody>
                <tr class="small" row_id={{ row.id }} status_id={{ row.status_id.id }} manager={{ row.manager }} marked="no" uuid={{ row.uuid }} severity_id={{ row.severity_id.id }} group=false >
                    {% if row.agregator == True %}
                        <td style="padding:0;"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></td>
                    {% else %}
                        <td style="padding:0;"></td>
                    {% endif %}
                    <td style="padding:0;"><input type="checkbox" class="input"></td>
                    <td style="padding:0;"><a id="tooltip" title="{{ row.uuid }}">{{ row.uuid|truncatechars:7 }}</a></td>
                    {% timezone tz %}
                    <td style="padding:0;">{{ row.first_seen|date:"d.m.Y H:i e" }}</td>
                    {# <td style="padding:0;">{{ row.update_time|date:"d.m.Y H:i e" }}</td> #}
                    <td style="padding:0;">{{ row.last_seen|date:"d.m.Y H:i e" }}</td>
                    {% endtimezone %}
                    <td style="padding:0;">{{ row.status_id }}</td>
                    <td style="padding:0;">{{ row.severity_id }}</td>
                    <td style="padding:0;">{{ row.manager }}</td>
                    <td style="padding:0;">{{ row.event_class }}</td>
                    <td style="padding:0;">{{ row.device_system }}</td>
                    <td style="padding:0;">{{ row.device_group }}</td>
                    <td style="padding:0;">{{ row.device_class }}</td>
                    <td style="padding:0;">{{ row.device_net_address }}</td>
                    <td style="padding:0;">{{ row.device_location }}</td>
                    <td style="padding:0;">{{ row.element_identifier }}</td>
                    <td style="padding:0;">{{ row.element_sub_identifier }}</td>

                </tr>
            </tbody>
        {% endfor %}
    </table>


        {% if paginator.num_pages > 1 %}
            {% if page_obj.has_previous %}
                <a href="/monitor/events/page/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
            {% endif %}
            <span class="current_page">Page {{ page_obj.number }}</span>
            {% if page_obj.has_next %}
                <a href="/monitor/events/page/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
            {% endif %}
        {% endif %}





</div>




{% endblock %}

