{% extends "index.html" %}


{% block content %}


<link href="{{ MY_STATIC_URL }}monitor/monitor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ MY_STATIC_URL }}monitor/monitor.js"></script>


<div class="container" style="padding:0;">

    {% include "menu.html" %}

</div>




<div class="row" style="margin:0; padding-top:10px; padding-bottom:10px;">

        <div class="col-md-2">
            <small>
                <button type="button" class="btn btn-warning btn-xs">Объединить</button>
                <button type="button" class="btn btn-info btn-xs">Разъединить</button>
                <button type="button" class="btn btn-success btn-xs">Создать</button>
            </small>
        </div>



        <form class="form-inline">
            <div class="form-group">
                <label for="status"><small>Status</small></label>
                <select id="status" class="form-control input-sm" style="padding:0; width:100px;">
                    <option value="999" selected>Все</option>
                    <option value="1" selected>New</option>
                    <option value="2" selected>Acknowledged</option>
                    <option value="3" selected>Suppressed</option>
                    <option value="4" selected>Closed</option>
                    <option value="5" selected>Cleared</option>
                    <option value="6" selected>Aged</option>
                </select>
            </div>
            <div class="form-group">
                <label for="manager"><small>Manager</small></label>
                <select id="manager" class="form-control input-sm" style="padding:0;width:200px;">
                    <option value="999" selected>Все</option>
                    <option value="0" selected>Critical</option>
                    <option value="1" selected>Error</option>
                    <option value="2" selected>Warning</option>
                    <option value="3" selected>Info</option>
                    <option value="4" selected>Debug</option>
                    <option value="5" selected>Clear</option>
                </select>
            </div>
            <div class="form-group">
                <label for="uuid"><small><small>Uudi</small></small></label>
            <small>
                <input type="text" style="height:28px;padding-left:2px;" id="uuid" placeholder="">
                <button id="clearuuid" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </small>
            </div>
        </form>

</div>





<div class="row" style="margin:0;">


        {% if paginator.num_pages > 1 %}
            {% if page_obj.has_previous %}
                <a href="/monitor/events/page/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
            {% endif %}
            <span class="current_page">Page {{ page_obj.number }}</span>
            {% if page_obj.has_next %}
                <a href="/monitor/events/page/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
            {% endif %}
        {% endif %}



    <table group="events" class="table table-bordered" width="100%">
            <thead class="small">
            <tr style="background-color:gainsboro;">
                <th style="padding:0;"></th>
                <th style="padding:0;">uuid</th>
                <th style="padding:0;">first_seen</th>
                <th style="padding:0;">update_time</th>
                <th style="padding:0;">last_seen</th>
                <th style="padding:0;">EventClass</th>
                <th style="padding:0;">Severity</th>
                <th style="padding:0;">Manager</th>
                <th style="padding:0;">DeviceSystem</th>
                <th style="padding:0;">DeviceGroup</th>
                <th style="padding:0;">DeviceClass</th>
                <th style="padding:0;">DeviceNetAddress</th>
                <th style="padding:0;">DeviceLocation</th>
                <th style="padding:0;">ElementIdentifier</th>
                <th style="padding:0;">ElementSubIdentifier</th>
                <th style="padding:0;">Status</th>
            </tr>
            </thead>
        {% for row in object_list %}
            <tbody>
                <tr class="small" row_id={{ row.id }} status_id={{ row.status_id }} manager={{ row.manager }} marked="no" uuid={{ row.uuid }} severity_id={{ row.severity_id }}>
                    <td style="padding:0;"><input type="checkbox" class="input"></td>
                    <td style="padding:0;"><a id="tooltip" title="{{ row.uuid }}">{{ row.uuid|truncatechars:7 }}</a></td>
                    <td style="padding:0;">{{ row.first_seen|date:"d.m.Y H:i e" }}</td>
                    <td style="padding:0;">{{ row.update_time|date:"d.m.Y H:i e" }}</td>
                    <td style="padding:0;">{{ row.last_seen|date:"d.m.Y H:i e" }}</td>
                    <td style="padding:0;">{{ row.event_class }}</td>
                    <td style="padding:0;">
                        {% if row.severity_id == 0 %}
                            Critical
                        {% elif row.severity_id == 1 %}
                            Error
                        {% elif row.severity_id == 2 %}
                            Warning
                        {% elif row.severity_id == 3 %}
                            Info
                        {% elif row.severity_id == 4 %}
                            Debug
                        {% elif row.severity_id == 5 %}
                            Clear
                        {% endif %}
                    </td>
                    <td style="padding:0;">{{ row.manager }}</td>
                    <td style="padding:0;">{{ row.device_system }}</td>
                    <td style="padding:0;">{{ row.device_group }}</td>
                    <td style="padding:0;">{{ row.device_class }}</td>
                    <td style="padding:0;">{{ row.device_net_address }}</td>
                    <td style="padding:0;">{{ row.device_location }}</td>
                    <td style="padding:0;">{{ row.element_identifier }}</td>
                    <td style="padding:0;">{{ row.element_sub_identifier }}</td>
                    <td style="padding:0;">
                        {% if row.status_id == 1 %}
                            New
                        {% elif row.status_id == 2 %}
                            Acknowledged
                        {% elif row.status_id == 3 %}
                            Suppressed
                        {% elif row.status_id == 4 %}
                            Closed
                        {% elif row.status_id == 5 %}
                            Cleared
                        {% elif row.status_id == 6 %}
                            Aged
                        {% endif %}

                    </td>

                </tr>
            </tbody>
        {% endfor %}
    </table>



        {% if paginator.num_pages > 1 %}
            {% if page_obj.has_previous %}
                <a href="/monitor/events/page/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
            {% endif %}
            <span class="current_page">Page {{ page_obj.number }}</span>
            {% if page_obj.has_next %}
                <a href="/monitor/events/page/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
            {% endif %}
        {% endif %}





</div>




{% endblock %}

