<div class="dropdown">
  <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a action="container" href="#"><small><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Группировка</small></a></li>
    <li><a action="message-accidentmmsbegin" href="#"><small><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Оповещение об аварии на мсс (в разработке)</small></a></li>
    <li><a action="message-accidentmmsstop" href="#"><small><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Оповещение об завершении аварии на мсс (в разработке)</small></a></li>
    <li><a action="working" href="#"><small><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Работы (в разработке)</small></a></li>
    <li><a action="zkl" href="#"><small><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Расчет ЗКЛ</small></a></li>
    <li><a action="acknowledge" href="#"><small><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Подтвердить (в разработке)</small></a></li>
    <li><a action="comment" href="#"><small><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Комментарий (в разработке)</small></a></li>
  </ul>
</div>
