<div id="mail2" title="" hidden>

    <table style="margin-top:10px;">
        <tbody>
            <tr>
                <td><label for="maillist2">Выбрать сообщение</label></td>
                <td>
                    <select id="maillist2" class="form-control input-sm" style="padding-right:10px; width:300px;">
                    </select>
                </td>
            </tr>
        </tbody>
    </table>


    <div  id="mailtext2" style="height:300px; overflow:scroll; padding: 5px; border: solid 1px black; margin-top:5px;">
        <dl>
            <dt>Тема:</dt>
            <dd><subj></subj></dd>
            <dt>Сообщение:</dt>
            <dd><mailtext></mailtext></dd>
            <dt>Приложение:</dt>
            <attachement></attachement>
        </dl>

    </div>


</div>


