            <thead id="head-table-events">
                <tr class="small" style="background-color:gainsboro;">
                    <th style="width:6px;"></th>
                    <th style="width:6px;"><input id="mark-all" type="checkbox" class="input"></th>
                    <th>last_seen</th>
                    <th>first_seen</th>
                    {% for h in head_order %}
                        <th name="{{ h.name }}">{{ h.title }}</th>
                    {% endfor %}
                    <th>source</th>
                </tr>
                <tr class="small" style="background-color:gainsboro;">
                    <th style="vertical-align:top;"><a id="columns-filter-on" href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></th>
                    <th></th>
                    <th><input  style="width:100%;" type="text"></th>
                    <th><input  style="width:100%;" type="text"></th>
                    {% for h in head_order %}
                        <th><input style="width:100%;" type="text"></th>
                    {% endfor %}
                    <th></th>
                </tr>

            </thead>

