            <thead id="head-table-events">
                <tr class="small" style="background-color:gainsboro;">
                    <th></th>
                    <th width="1%"><input id="mark-all" type="checkbox" class="input"></th>
                    <th>last_seen</th>
                    <th>first_seen</th>
                    {% for h in head_order %}
                        <th name="{{ h.name }}">{{ h.title }}</th>
                    {% endfor %}
                </tr>
            </thead>

