{% load tz %}
{% timezone tz %}


        <tbody>
        {% for row in object_list %}
                <tr class="small" row_id={{ row.id }} status_id={{ row.status_id.id }} manager={{ row.manager }} marked="no" uuid={{ row.uuid }} severity_id={{ row.severity_id.id }} group=false  {% if row.byhand == True %}byhand="yes"{% else %}byhand="no"{% endif%} {% if row.bymail == True %}bymail="yes"{% else %}bymail="no"{% endif%}>
                    <td style="padding:0;">
                            {% include "monitor/event_menu.html" %}
                            <a href="#" container_hide={{ row.id }} hidden="hidden"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a>
                        {% if row.agregator == True %}
                            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        {% endif %}
                        {% if row.byhand == True %}
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {% endif %}
                        {% if row.bymail == True %}
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        {% endif %}
                    </td>


                    <td><input type="checkbox" class="input"></td>

                    <td>{{ row.last_seen|date:"d.m.Y H:i e" }}</td>
                    <td>{{ row.first_seen|date:"d.m.Y H:i e" }}</td>


                        <td>
                            {% if head_order.0.name == "status_id" %}
                                {{ row.status_id }}
                            {% elif head_order.0.name == "severity_id" %}
                                {{ row.severity_id }}
                            {% elif head_order.0.name == "manager" %}
                                {{ row.manager }}
                            {% elif head_order.0.name == "device_system" %}
                                {{ row.device_system }}
                            {% elif head_order.0.name == "event_class" %}
                                {{ row.event_class }}
                            {% elif head_order.0.name == "device_group" %}
                                {{ row.device_group }}
                            {% elif head_order.0.name == "device_class" %}
                                {{ row.device_class }}
                            {% elif head_order.0.name == "device_location" %}
                                {{ row.device_location }}
                            {% elif head_order.0.name == "device_net_address" %}
                                {{ row.device_net_address }}
                            {% elif head_order.0.name == "element_identifier" %}
                                {{ row.element_identifier }}
                            {% elif head_order.0.name == "element_sub_identifier" %}
                                {{ row.element_sub_identifier }}
                            {% elif head_order.0.name == "summary" %}
                                {{ row.summary }}
                            {% endif %}
                        </td>

                        <td>
                            {% if head_order.1.name == "status_id" %}
                                {{ row.status_id }}
                            {% elif head_order.1.name == "severity_id" %}
                                {{ row.severity_id }}
                            {% elif head_order.1.name == "manager" %}
                                {{ row.manager }}
                            {% elif head_order.1.name == "device_system" %}
                                {{ row.device_system }}
                            {% elif head_order.1.name == "event_class" %}
                                {{ row.event_class }}
                            {% elif head_order.1.name == "device_group" %}
                                {{ row.device_group }}
                            {% elif head_order.1.name == "device_class" %}
                                {{ row.device_class }}
                            {% elif head_order.1.name == "device_location" %}
                                {{ row.device_location }}
                            {% elif head_order.1.name == "device_net_address" %}
                                {{ row.device_net_address }}
                            {% elif head_order.1.name == "element_identifier" %}
                                {{ row.element_identifier }}
                            {% elif head_order.1.name == "element_sub_identifier" %}
                                {{ row.element_sub_identifier }}
                            {% elif head_order.1.name == "summary" %}
                                {{ row.summary }}
                            {% endif %}
                        </td>

                        <td>
                            {% if head_order.2.name == "status_id" %}
                                {{ row.status_id }}
                            {% elif head_order.2.name == "severity_id" %}
                                {{ row.severity_id }}
                            {% elif head_order.2.name == "manager" %}
                                {{ row.manager }}
                            {% elif head_order.2.name == "device_system" %}
                                {{ row.device_system }}
                            {% elif head_order.2.name == "event_class" %}
                                {{ row.event_class }}
                            {% elif head_order.2.name == "device_group" %}
                                {{ row.device_group }}
                            {% elif head_order.2.name == "device_class" %}
                                {{ row.device_class }}
                            {% elif head_order.2.name == "device_location" %}
                                {{ row.device_location }}
                            {% elif head_order.2.name == "device_net_address" %}
                                {{ row.device_net_address }}
                            {% elif head_order.2.name == "element_identifier" %}
                                {{ row.element_identifier }}
                            {% elif head_order.2.name == "element_sub_identifier" %}
                                {{ row.element_sub_identifier }}
                            {% elif head_order.2.name == "summary" %}
                                {{ row.summary }}
                            {% endif %}
                        </td>

                        <td>
                            {% if head_order.3.name == "status_id" %}
                                {{ row.status_id }}
                            {% elif head_order.3.name == "severity_id" %}
                                {{ row.severity_id }}
                            {% elif head_order.3.name == "manager" %}
                                {{ row.manager }}
                            {% elif head_order.3.name == "device_system" %}
                                {{ row.device_system }}
                            {% elif head_order.3.name == "event_class" %}
                                {{ row.event_class }}
                            {% elif head_order.3.name == "device_group" %}
                                {{ row.device_group }}
                            {% elif head_order.3.name == "device_class" %}
                                {{ row.device_class }}
                            {% elif head_order.3.name == "device_location" %}
                                {{ row.device_location }}
                            {% elif head_order.3.name == "device_net_address" %}
                                {{ row.device_net_address }}
                            {% elif head_order.3.name == "element_identifier" %}
                                {{ row.element_identifier }}
                            {% elif head_order.3.name == "element_sub_identifier" %}
                                {{ row.element_sub_identifier }}
                            {% elif head_order.3.name == "summary" %}
                                {{ row.summary }}
                            {% endif %}
                        </td>

                        <td>
                            {% if head_order.4.name == "status_id" %}
                                {{ row.status_id }}
                            {% elif head_order.4.name == "severity_id" %}
                                {{ row.severity_id }}
                            {% elif head_order.4.name == "manager" %}
                                {{ row.manager }}
                            {% elif head_order.4.name == "device_system" %}
                                {{ row.device_system }}
                            {% elif head_order.4.name == "event_class" %}
                                {{ row.event_class }}
                            {% elif head_order.4.name == "device_group" %}
                                {{ row.device_group }}
                            {% elif head_order.4.name == "device_class" %}
                                {{ row.device_class }}
                            {% elif head_order.4.name == "device_location" %}
                                {{ row.device_location }}
                            {% elif head_order.4.name == "device_net_address" %}
                                {{ row.device_net_address }}
                            {% elif head_order.4.name == "element_identifier" %}
                                {{ row.element_identifier }}
                            {% elif head_order.4.name == "element_sub_identifier" %}
                                {{ row.element_sub_identifier }}
                            {% elif head_order.4.name == "summary" %}
                                {{ row.summary }}
                            {% endif %}
                        </td>

                        <td>
                            {% if head_order.5.name == "status_id" %}
                                {{ row.status_id }}
                            {% elif head_order.5.name == "severity_id" %}
                                {{ row.severity_id }}
                            {% elif head_order.5.name == "manager" %}
                                {{ row.manager }}
                            {% elif head_order.5.name == "device_system" %}
                                {{ row.device_system }}
                            {% elif head_order.5.name == "event_class" %}
                                {{ row.event_class }}
                            {% elif head_order.5.name == "device_group" %}
                                {{ row.device_group }}
                            {% elif head_order.5.name == "device_class" %}
                                {{ row.device_class }}
                            {% elif head_order.5.name == "device_location" %}
                                {{ row.device_location }}
                            {% elif head_order.5.name == "device_net_address" %}
                                {{ row.device_net_address }}
                            {% elif head_order.5.name == "element_identifier" %}
                                {{ row.element_identifier }}
                            {% elif head_order.5.name == "element_sub_identifier" %}
                                {{ row.element_sub_identifier }}
                            {% elif head_order.5.name == "summary" %}
                                {{ row.summary }}
                            {% endif %}
                        </td>

                        <td>
                            {% if head_order.6.name == "status_id" %}
                                {{ row.status_id }}
                            {% elif head_order.6.name == "severity_id" %}
                                {{ row.severity_id }}
                            {% elif head_order.6.name == "manager" %}
                                {{ row.manager }}
                            {% elif head_order.6.name == "device_system" %}
                                {{ row.device_system }}
                            {% elif head_order.6.name == "event_class" %}
                                {{ row.event_class }}
                            {% elif head_order.6.name == "device_group" %}
                                {{ row.device_group }}
                            {% elif head_order.6.name == "device_class" %}
                                {{ row.device_class }}
                            {% elif head_order.6.name == "device_location" %}
                                {{ row.device_location }}
                            {% elif head_order.6.name == "device_net_address" %}
                                {{ row.device_net_address }}
                            {% elif head_order.6.name == "element_identifier" %}
                                {{ row.element_identifier }}
                            {% elif head_order.6.name == "element_sub_identifier" %}
                                {{ row.element_sub_identifier }}
                            {% elif head_order.6.name == "summary" %}
                                {{ row.summary }}
                            {% endif %}
                        </td>

                        <td>
                            {% if head_order.7.name == "status_id" %}
                                {{ row.status_id }}
                            {% elif head_order.7.name == "severity_id" %}
                                {{ row.severity_id }}
                            {% elif head_order.7.name == "manager" %}
                                {{ row.manager }}
                            {% elif head_order.7.name == "device_system" %}
                                {{ row.device_system }}
                            {% elif head_order.7.name == "event_class" %}
                                {{ row.event_class }}
                            {% elif head_order.7.name == "device_group" %}
                                {{ row.device_group }}
                            {% elif head_order.7.name == "device_class" %}
                                {{ row.device_class }}
                            {% elif head_order.7.name == "device_location" %}
                                {{ row.device_location }}
                            {% elif head_order.7.name == "device_net_address" %}
                                {{ row.device_net_address }}
                            {% elif head_order.7.name == "element_identifier" %}
                                {{ row.element_identifier }}
                            {% elif head_order.7.name == "element_sub_identifier" %}
                                {{ row.element_sub_identifier }}
                            {% elif head_order.7.name == "summary" %}
                                {{ row.summary }}
                            {% endif %}
                        </td>

                        <td>
                            {% if head_order.8.name == "status_id" %}
                                {{ row.status_id }}
                            {% elif head_order.8.name == "severity_id" %}
                                {{ row.severity_id }}
                            {% elif head_order.8.name == "manager" %}
                                {{ row.manager }}
                            {% elif head_order.8.name == "device_system" %}
                                {{ row.device_system }}
                            {% elif head_order.8.name == "event_class" %}
                                {{ row.event_class }}
                            {% elif head_order.8.name == "device_group" %}
                                {{ row.device_group }}
                            {% elif head_order.8.name == "device_class" %}
                                {{ row.device_class }}
                            {% elif head_order.8.name == "device_location" %}
                                {{ row.device_location }}
                            {% elif head_order.8.name == "device_net_address" %}
                                {{ row.device_net_address }}
                            {% elif head_order.8.name == "element_identifier" %}
                                {{ row.element_identifier }}
                            {% elif head_order.8.name == "element_sub_identifier" %}
                                {{ row.element_sub_identifier }}
                            {% elif head_order.8.name == "summary" %}
                                {{ row.summary }}
                            {% endif %}
                        </td>

                        <td>
                            {% if head_order.9.name == "status_id" %}
                                {{ row.status_id }}
                            {% elif head_order.9.name == "severity_id" %}
                                {{ row.severity_id }}
                            {% elif head_order.9.name == "manager" %}
                                {{ row.manager }}
                            {% elif head_order.9.name == "device_system" %}
                                {{ row.device_system }}
                            {% elif head_order.9.name == "event_class" %}
                                {{ row.event_class }}
                            {% elif head_order.9.name == "device_group" %}
                                {{ row.device_group }}
                            {% elif head_order.9.name == "device_class" %}
                                {{ row.device_class }}
                            {% elif head_order.9.name == "device_location" %}
                                {{ row.device_location }}
                            {% elif head_order.9.name == "device_net_address" %}
                                {{ row.device_net_address }}
                            {% elif head_order.9.name == "element_identifier" %}
                                {{ row.element_identifier }}
                            {% elif head_order.9.name == "element_sub_identifier" %}
                                {{ row.element_sub_identifier }}
                            {% elif head_order.9.name == "summary" %}
                                {{ row.summary }}
                            {% endif %}
                        </td>

                        <td>
                            {% if head_order.10.name == "status_id" %}
                                {{ row.status_id }}
                            {% elif head_order.10.name == "severity_id" %}
                                {{ row.severity_id }}
                            {% elif head_order.10.name == "manager" %}
                                {{ row.manager }}
                            {% elif head_order.10.name == "device_system" %}
                                {{ row.device_system }}
                            {% elif head_order.10.name == "event_class" %}
                                {{ row.event_class }}
                            {% elif head_order.10.name == "device_group" %}
                                {{ row.device_group }}
                            {% elif head_order.10.name == "device_class" %}
                                {{ row.device_class }}
                            {% elif head_order.10.name == "device_location" %}
                                {{ row.device_location }}
                            {% elif head_order.10.name == "device_net_address" %}
                                {{ row.device_net_address }}
                            {% elif head_order.10.name == "element_identifier" %}
                                {{ row.element_identifier }}
                            {% elif head_order.10.name == "element_sub_identifier" %}
                                {{ row.element_sub_identifier }}
                            {% elif head_order.10.name == "summary" %}
                                {{ row.summary }}
                            {% endif %}
                        </td>

                        <td>
                            {% if head_order.11.name == "status_id" %}
                                {{ row.status_id }}
                            {% elif head_order.11.name == "severity_id" %}
                                {{ row.severity_id }}
                            {% elif head_order.11.name == "manager" %}
                                {{ row.manager }}
                            {% elif head_order.11.name == "device_system" %}
                                {{ row.device_system }}
                            {% elif head_order.11.name == "event_class" %}
                                {{ row.event_class }}
                            {% elif head_order.11.name == "device_group" %}
                                {{ row.device_group }}
                            {% elif head_order.11.name == "device_class" %}
                                {{ row.device_class }}
                            {% elif head_order.11.name == "device_location" %}
                                {{ row.device_location }}
                            {% elif head_order.11.name == "device_net_address" %}
                                {{ row.device_net_address }}
                            {% elif head_order.11.name == "element_identifier" %}
                                {{ row.element_identifier }}
                            {% elif head_order.11.name == "element_sub_identifier" %}
                                {{ row.element_sub_identifier }}
                            {% elif head_order.11.name == "summary" %}
                                {{ row.summary }}
                            {% endif %}
                        </td>

                </tr>
        {% endfor %}
        </tbody>

{% endtimezone %}
