<div id="zkllist" class="small" hidden>

    <table group="zkllist" class="table table-bordered table-striped draggable" width="100%">

        <thead>
            <tr>

                <th colspan="3">Место</th>
                <th colspan="6">Порты</th>

            </tr>

            <tr>

                <th>Название</th>
                <th>Адрес</th>
                <th>ip</th>
                <th>Используется</th>
                <th>Резерв</th>
                <th>Технолог.</th>
            </tr>

        </thead>

        <tbody></tbody>

        <tfoot></tfoot>

    </table>



</div>