.row {
    margin:0;
}


.nav {
    margin-bottom:10px;
}


table[group=marks-card] > thead > tr > th {
    background-color:#DCDCDC;
    padding: 0;
    text-align: left;
    vertical-align: top;
}


.row#buttons {
    margin-bottom: 5px;
}