.row {
    margin:0;
}



table[group=makereports-list] > thead > tr > th {
    background-color:#DCDCDC;
    padding: 0;
    text-align: left;
    vertical-align: top;
}


table[group=makereports-list] > tbody > tr > td {
    padding: 0;
    vertical-align: top;
}



.form-inline > div#manager > input {
    width: 500px;
}



/* Курсор */
table[group=makereports-list] > tbody > tr > td > a {
    cursor:pointer;
    text-decoration:none;
    color: black;
}


table[group=makereports-list] > tbody > tr > td > a:hover {
    text-decoration:none;
    color: black;
}

/*
table[group=makereports-list] > tbody > tr > td {
    background-color: #D8BFD8;
}
*/


#report-error > h3 {
    color: red;
}

#report-ok > h3 {
    color: green;
}


input#create-text, select#employee {
    width: 300px;
}

select#employee {
    margin-top: 10px;
}


button#employee-search {
	margin-top: 8px;
}


div.container div.row dl.dl-horizontal div.form-inline div#manager2.form-group dt label {
	margin-top: 10px;
}