<div id="edit-rest" hidden>

    <dl class="dl-horizontal small">
        <dt>Код ЕИСУП</dt>
        <dd><input id="edit_eisup" class="form-control input-sm" type="text" readonly /></dd>
        <dt>Наименование</dt>
        <dd><input id="edit_name" class="form-control input-sm" type="text" /></dd>
        <dt>Склад</dt>
        <dd><input id="edit_store" class="form-control input-sm" type="text" readonly /></dd>
        <dt>Остаток</dt>
        <dd><input id="edit_rest" class="form-control input-sm" type="text" /></dd>
        <dt>Ед. из.</dt>
        <dd><input id="dimansion" class="form-control input-sm" type="text" /></dd>
        <dt>Серийный номер</dt>
        <dd><input id="edit_serial" class="form-control input-sm" type="text" /></dd>
        <dt>Счет учета</dt>
        <dd><input id="accounting-code" class="form-control input-sm" type="text" /></dd>
    </dl>

</div>