{% extends "index.html" %}


{% block content %}


{% load tz %}


<link href="{{ MY_STATIC_URL }}regions/store/goodslist.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ MY_STATIC_URL }}regions/store/goodslist.js"></script>



<div class="container">

    {% include "menu.html" %}

</div>




<div id="manager" class="row col-sm-5 small">

    <dl class="dl-horizontal">
        <dt><label for="search-text">Поиск</label></dt>
        <dd>
            <input class="form-control input-sm" type="text" id="search-text" placeholder="" value="{{ search }}" >
        </dd>
        <dt><label for="region">Регион</label></dt>
        <dd>
            <select class="form-control input-sm" id="region">
                {% if region == "" %}
                    <option value="" selected>Все</option>
                {% else %}
                    <option value="">Все</option>
                {% endif %}
                {% for r in region_list %}
                    {% if region == r.store.region.id|stringformat:"i" %}
                        <option value="{{ r.store.region.id }}" selected>{{ r.store.region.name }}</option>
                    {% else %}
                        <option value="{{ r.store.region.id }}">{{ r.store.region.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </dd>
        <dt><label for="store">Склад</label></dt>
        <dd>
            <select class="form-control input-sm" id="store">
                {% if store == "" %}
                    <option value="" selected>Все</option>
                {% else %}
                    <option value="">Все</option>
                {% endif %}
                {% for s in store_list %}
                    {% if store == s.store.id|stringformat:"i" %}
                        <option value="{{ s.store.id }}" selected>{{ s.store.name }}</option>
                    {% else %}
                        <option value="{{ s.store.id }}">{{ s.store.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </dd>
        <dt><label for="mol">МОЛ</label></dt>
        <dd>
            <select class="form-control input-sm" id="mol">
                {% if mol == "" %}
                    <option value="" selected>Все</option>
                {% else %}
                    <option value="">Все</option>
                {% endif %}
                {% for m in mol_list %}
                    {% if mol == m.mol.id|stringformat:"i" %}
                        <option value="{{ m.mol.id }}" selected>{{ m.mol.get_full_name }}</option>
                    {% else %}
                        <option value="{{ m.mol.id }}">{{ m.mol.get_full_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </dd>
    </dl>

</div>

<div id="buttons" class="row col-sm-2 small">
            <button id="search-button" title="Применить" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button>
            <button id="clear-button" title="Отменить поиск" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
            <a id="excel-button" title="Выгрузить в excel" class="btn btn-default btn-xs" href=""><span class="glyphicon glyphicon-floppy-disk"></span></a>
</div>



<div id="uploadform" class="row col-sm-5 small">
        <form action="/regions/store/upload-eisup/" id="uploadfileeisup" class="form-inline" method="post" target="uploadframe" enctype="multipart/form-data">{% csrf_token %}

            <div class="form-group">
                <input id="fileupload" name="fileupload" type="file">
            </div>

            <button type="submit" title="Загрузить файл" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span></button>

        </form>
</div>



<div class="row">


    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/regions/store/page/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        {% endif %}
        <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="/regions/store/page/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        {% endif %}
    {% endif %}




    <table group="goods-list" class="table table-bordered table-striped draggable" width="100%">


        <thead class="small">

            <tr style="background-color:gainsboro;">
                <th>Код ЕИСУП</th>
                <th>Наименование</th>
                <th>Кол-во</th>
                <th>Дата<br>актуальности</th>
                <th>Регион</th>
                <th>Склад</th>
                <th>Адрес</th>
                <th>МОЛ</th>
            </tr>

        </thead>

        <tbody class="small">
            {% for row in object_list %}
                <tr row_id={{ row.id }}>
                    <td><a>{{ row.eisup }}</a></td>
                    <td><a>{{ row.name }}</a></td>
                    <td><a>{{ row.rest }}</a></td>
                    {% timezone tz %}
                    <td><a>{{ row.datetime_update|date:"d.m.Y H:i e" }}</a></td>
                    {% endtimezone %}
                    <td><a>{{ row.store.region }}</a></td>
                    <td><a>{{ row.store.name }}</a></td>
                    <td><a>{{ row.store.comment }}</a></td>
                    <td><a>{{ row.mol.get_full_name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>




    </table>


    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/regions/store/page/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        {% endif %}
        <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="/regions/store/page/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        {% endif %}
    {% endif %}



</div>



<iframe name="uploadframe" hidden></iframe>


{% include "regions/store/upload-eisup.html" %}


{% endblock %}

