<div id="store-out" hidden>

    <dl class="dl-horizontal small">
        <dt>Поиск</dt>
        <dd><input id="out_search" class="form-control input-sm" type="text" /></dd>
        <dt>Код ЕИСУП</dt>
        <dd><input id="out_eisup" class="form-control input-sm" type="text" readonly /></dd>
        <dt>Склад</dt>
        <dd><input id="out_store" class="form-control input-sm" type="text" readonly /></dd>
        <dt>Количество</dt>
        <dd><input id="out_q" class="form-control input-sm" type="text" /></dd>
        <dt>Код проекта</dt>
        <dd><input id="out_proj_kod" class="form-control input-sm" type="text" /></dd>
        <dt>Серийный номер</dt>
        <dd><input id="out_serial" class="form-control input-sm" type="text" readonly /></dd>
        <dt>Комментарий</dt>
        <dd><input id="out_comment" class="form-control input-sm" type="text" /></dd>
    </dl>

</div>