<div id="store-in-del" hidden>

    <dl class="dl-horizontal small">
        <dt>Наименование</dt>
        <dd><input id="in_name_del" class="form-control input-sm" type="text" readonly /></dd>
        <dt>Код ЕИСУП</dt>
        <dd><input id="in_eisup_del" class="form-control input-sm" type="text" readonly /></dd>
        <dt>Склад</dt>
        <dd><input id="in_store_del" class="form-control input-sm" type="text" readonly /></dd>
        <dt>Количество</dt>
        <dd><input id="in_q_del" class="form-control input-sm" type="text" readonly /></dd>
        <dt>Код проекта</dt>
        <dd><input id="in_kis_kod_del" class="form-control input-sm" type="text" readonly /></dd>
        <dt>Серийный номер</dt>
        <dd><input id="in_serial_del" class="form-control input-sm" type="text" readonly /></dd>
        <dt>Комментарий</dt>
        <dd><input id="in_comment_del" class="form-control input-sm" type="text" readonly /></dd>
    </dl>

</div>