{% extends "index.html" %}


{% block content %}


{% load tz %}


<link href="{{ MY_STATIC_URL }}regions/store/storerest.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ MY_STATIC_URL }}regions/store/storerest.js"></script>
<script type="text/javascript" src="{{ MY_STATIC_URL }}regions/store/filter.js"></script>



<div class="container">

    {% include "menu.html" %}

</div>




<div id="local-menu" class="row small">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Остатки</a></li>
      <li><a href="/regions/storeout/page/1/">Расход</a></li>
      <li><a href="/regions/storein/page/1/">Поступления</a></li>
      <li><a href="/regions/storecarry/page/1/">Перемещения</a></li>
      <li><a href="/regions/storehistory/page/1/">История</a></li>
    </ul>
</div>



{% include "regions/store/filter.html" %}





<div id="gcreate" class="row col-sm-2 small">
            <button id="create-button" type="submit" title="Создать элемент остатка" class="btn btn-default btn-xs">Создать</button>
</div>




<div id="loadstore" class="row col-sm-2 small">
            <a href="/regions/store/loadstore">Загрузка остатков из excel</a>
</div>





<div class="row">



    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/regions/store/page/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        {% endif %}
        <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="/regions/store/page/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        {% endif %}
    {% endif %}




    <table group="goods-list" class="table table-bordered table-striped draggable" width="100%">


        <thead class="small">

            <tr style="background-color:gainsboro;">
                <th>Код ЕИСУП</th>
                <th>Наименование</th>
                <th>Серийный<br>номер</th>
                <th>Кол-во</th>
                <th>Ед.из.</th>
                <th>Дата<br>актуальности</th>
                <th>Регион</th>
                <th>Склад</th>
                <th>Адрес</th>
                <th>МОЛ</th>
                <th>Счет учета</th>
            </tr>

        </thead>

        <tbody class="small">
            {% for row in object_list %}
                <tr row_id={{ row.id }}>
                    <td><a>{{ row.eisup }}</a></td>
                    <td><a>{{ row.name }}</a></td>
                    <td><a>{{ row.serial }}</a></td>
                    <td><a>{{ row.rest }}</a></td>
                    <td><a>{{ row.dimension }}</a></td>
                    {% timezone tz %}
                    <td><a>{{ row.datetime_update|date:"d.m.Y H:i e" }}</a></td>
                    {% endtimezone %}
                    <td><a>{{ row.store.region }}</a></td>
                    <td><a>{{ row.store.name }}</a></td>
                    <td><a>{{ row.store.comment }}</a></td>
                    <td><a>{{ row.mol.get_full_name }}</a></td>
                    <td><a>{{ row.accounting_code }}</a></td>
                </tr>
            {% endfor %}
        </tbody>




    </table>


    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/regions/store/page/{{ page_obj.previous_page_number }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        {% endif %}
        <span class="current_page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="/regions/store/page/{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        {% endif %}
    {% endif %}



</div>



<iframe name="uploadframe" hidden></iframe>



{% include "regions/store/edit-rest.html" %}
{% include "regions/store/create-rest.html" %}
{% include "regions/store/notaccess.html" %}

{% endblock %}

