<div id="upload-eisup" hidden>

    <table group="upload-list" class="table table-bordered table-striped draggable small" width="100%">
        <thead>
            <tr>
                <th>Заменить</th>
                <th>Код ЕИСУП</th>
                <th>Код учета</th>
                <th>Название</th>
                <th>Остаток</th>
                <th>Ед.из.</th>
                <th>Склад</th>
                <th>Загрузка</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>