<div id="page-3" class="row small" hidden>

    <div class="row col-md-8">

        <table group="device-list" class="table table-bordered table-striped draggable" width="100%">
            <thead>
                <tr>
                    <th>Модель</th>
                    <th>Серийный номер</th>
                    <th>Статус</th>
                    <th>Количество портов</th>
                    <th>Используется портов</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>



</div>