html body div.row iframe {
    width: 100%;
    margin-top: 100px;
    height: 1000px;
    background-color: #DCDCDC;
}

#uploadform {
    margin-top: 50px;
    margin-left: 100px;
}

#param, #param2 {
    margin-top: 50px;
    margin-left: 100px;
}


table[group=upload-list] > thead > tr > th {
    background-color:#87CEFA;
    padding: 0;
    text-align: left;
    vertical-align: top;
}


table[group=upload-list] > tbody > tr > td {
    padding: 0;
    vertical-align: top;
}
