table > thead > tr > th {
    background-color:#DCDCDC;
}


.row {
    margin: 0;
}

thead.small > tr > th {
    padding: 0;
    text-align: left;
    vertical-align: top;
}

table[group=audit] > tbody > tr.small > td {
    padding:0;
}

#address {
    width: 600px;
}


/* Курсор */
table[group=audit] > tbody > tr > td > a[device],
table[group=audit] > tbody > tr > td > a[netelem] {
    cursor:pointer;
}


/* Для всех ссылок*/
table[group=audit] > tbody > tr > td > a {
    text-decoration:none;
}

table[group=audit] > tbody > tr > td > a:hover {
    text-decoration:none;
}
