.row {
    margin: 0;
}

thead.small > tr > th {
    padding: 0;
    text-align: left;
    vertical-align: top;
}

table[group=devices] > tbody > tr.small > td {
    padding:0;
}


#table-info {
    margin-top:30px;
    margin-bottom:30px;
}

table[group=slots] > thead > tr > th {
    padding:0;
}


table[group=slots],table[group=ports],table[group=combo],table[group=statuses],table[group=removal],table[group=properties] {
    margin-top:20px;
}


/* Форма создания устройства */
#namescheme,#devicecompany,#deviceaddress,#deviceserial {
    width:400px;
    margin-left:10px;
}

