table > thead > tr > th {
    background-color:#DCDCDC;
}


.row {
    margin: 0;
}

thead.small > tr > th {
    padding: 0;
    text-align: left;
    vertical-align: top;
}

table[group=devices] > tbody > tr.small > td {
    padding:0;
}


#table-info {
    margin-top:30px;
    margin-bottom:30px;
}

table[group=slots] > thead > tr > th {
    padding:0;
}


table[group=slots],table[group=ports],table[group=combo],table[group=statuses],table[group=removal],table[group=properties],table[group=device-parents],table[group=device-children] {
    margin-top:20px;
}


/* Форма создания устройства */
#namescheme,#devicecompany,#deviceaddress,#deviceserial {
    width:400px;
    margin-left:10px;
}



/* Форма редактирования порта */
form#editportform > table > tbody > tr > td:nth-child(1) > label:nth-child(1) {
    padding-right: 10px;
}



/* Форма редактирования слота */
form#editslotform > table > tbody > tr > td:nth-child(1) > label:nth-child(1) {
    padding-right: 10px;
}



/* Форма редактирования комбо порта */
form#editcomboform > table > tbody > tr > td:nth-child(1) > label:nth-child(1) {
    padding-right: 10px;
}


/* Форма редактирования свойства */
form#editpropform > table > tbody > tr > td:nth-child(1) > label:nth-child(1) {
    padding-right: 10px;
}
