.row {
    margin: 0;
}

thead.small > tr > th {
    padding: 0;
    text-align: left;
    vertical-align: top;
}


#namenetelement {
    margin-left: 5px;
    width: 380px;
}


table[group=netelements] > tbody > tr > td {
    padding:0;
}


#elem {
    width: 500px;
}


#rowelem {
    padding-top:10px;
}


#elemdata,#devices {
    padding-top:70px;
}



table[group=devices] > thead > tr > th,
table[group=interfaces] > thead > tr > th {
    padding:0;
    background-color:#DCDCDC;
}


table[group=devices] > tbody > tr > td {
    padding:0;
}


#searchdevice {
    width: 600px;
}

