/* Курсор */
a#new-device {
    cursor:pointer;
    text-decoration:none;
}


/* Курсор */
table[group=devices-list] > tbody > tr > td > a {
    cursor:pointer;
    text-decoration:none;
}


table[group=devices-list] > tbody > tr > td > a:hover {
    text-decoration:none;
}



a#new-device:hover,
ul.root a:hover {
    text-decoration:none;
}

select#id_filter_d, select#id_filter_p {
    width: 500px;
}


table[group=devices-list] > thead > tr > th {
    background-color:#DCDCDC;
    padding: 2px;
    text-align: left;
    vertical-align: top;
}


table[group=devices-list] > tbody > tr > td {
    background-color: #ffe6cc;
    padding: 1px;
    vertical-align: top;
}


