.row {
    margin: 0;
}

thead.small > tr > th {
    padding: 0;
    text-align: left;
    vertical-align: top;
}


table[group=accidents] > tbody > tr > td {
    padding:0;
}


#accidentstarttime, #accidentendtime {
    width:70px;
}


#accidentstartdate, #accidentenddate, #accidentcat, #accidenttype {
    width:100px;
}
