.row {
    margin: 0;
}

thead.small > tr > th {
    padding: 0;
    text-align: left;
    vertical-align: top;
}


table[group=accidents] > tbody > tr > td {
    padding:0;
}


#accidentstarttime, #accidentendtime {
    width:70px;
}


#accidentstartdate, #accidentenddate, #accidentcat, #accidenttype {
    width:100px;
}

#addaddr {
    margin-left:10px;
}



/* Форма отображения и ввода ДРП */
#text-new-drp {
    width: 400px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

table#drpadd > tbody > tr > td {
    vertical-align: top;
}